// SPIN
@mixin animate-spin() {
	@include animation-name(spin);
	@include animation-duration(2s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
	@include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
// end SPIN

// SPIN ANTI
@mixin animate-spin-anti() {
  @include animation-name(spin-anti);
  @include animation-duration(2s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes spin-anti {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
// end SPIN ANTI


// FLIP SPIN Y
@mixin flip-spin-y() {
  @include animation-name(flip-spin-y);
  @include animation-duration(2s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes flip-spin-y {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}
// end FLIP SPIN Y



/// =============================================



// FLIP SPIN X
@mixin flip-spin-x() {
  @include animation-name(flip-spin-x);
  @include animation-duration(2s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes flip-spin-x {
    from {transform:rotateX(0deg);}
    to {transform:rotateX(360deg);}
}
// end FLIP SPIN X



// FLIP SPIN X + BG COLOUR
@mixin flip-spin-x-bg-color() {
  @include animation-name(flip-spin-x-bg-color);
  @include animation-duration(2s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes flip-spin-x-bg-color {
    0% {
        transform: rotateX(0deg);
          background-color: $brand-blue;
      }
      16% {
          background-color: $brand-green;
      }
      32% {
          background-color: $brand-red;
      }
      48% {
          background-color: $brand-yellow;
      }
      64% {
          background-color: $brand-purple;
      }
      80% {
          background-color: $brand-pink;
      }
      100% {
          background-color:$brand-blue;
          transform: rotateX(360deg)
      }
}
// end FLIP SPIN X + BG COLOUR



// SVG CIRCLE ANIMATION
@mixin svg-circle-animation() {
  @include animation-name(svg-circle-animation);
  @include animation-duration(2s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes svg-circle-animation {
    from {
      stroke-dashoffset: 0;
      stroke-dasharray: 5;
    }
    to {
      stroke-dashoffset: 0;
      stroke-dasharray: 221;
    }
}
// end SVG CIRCLE ANIMATION




// Floaty bounce
@mixin floaty-bounce() {
  @include animation-name(floaty-bounce);
  @include animation-duration(4s);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes floaty-bounce {
    0% {
        @include translate(0,0);
      }
      50% {
          @include translate(0,-20px);
      }
      100% {
          @include translate(0,0);
      }
}
// end Background white flash



// Background white flash
@mixin white-flash() {
  @include animation-name(white-flash);
  @include animation-duration(.5s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes white-flash {
    0% {
        background-color: rgba(255,255,255,0.2);
      }
      50% {
          background-color: rgba(255,255,255,0.5);
      }
      100% {
          background-color: rgba(255,255,255,0.2);
      }
}
// end Background white flash


// Background shadow pulse
@mixin shadow-pulse() {
  @include animation-name(shadow-pulse);
  @include animation-duration(1.5s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes shadow-pulse {
    0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      box-shadow: 0 0 0 80px rgba(255,255,255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
// end Background shadow pulse



// Background shadow pulse
@mixin shadow-pulse-soft() {
  @include animation-name(shadow-pulse);
  @include animation-duration(1.5s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes shadow-pulse {
    0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      box-shadow: 0 0 80px 20px rgba(255,255,255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
// end Background shadow pulse



// Background shadow pulse small
@mixin shadow-pulse-small() {
  @include animation-name(shadow-pulse-small);
  @include animation-duration(1.5s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes shadow-pulse-small {
    0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
  70% {
      box-shadow: 0 0 0 7px rgba(255,255,255, 0.3);
  }
  100% {
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
}
// end Background shadow pulse small


// Background shadow pulse small
@mixin shadow-pulse-small-spin() {
  @include animation-name(shadow-pulse-small-spin);
  @include animation-duration(1.5s);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include transform-origin(50% 50%);
}

// Animate=spin spin keyframes
@keyframes shadow-pulse-small-spin {
    0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 0 0 5px rgba(255,255,255, 0.1);
    transform: rotate(180deg);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(255,255,255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    transform: rotate(360deg);
  }
}
// end Background shadow pulse small


// Animate bg colours FILL
@mixin animate-bgcolor-fill() {
    @include animation-name(bgcolor-fill);
    @include animation-duration(1s);
    @include transform-origin(50% 50%);
    @include animation-timing-function(ease-in-out);
    @include animation-iteration-count(infinite);
}

// Animate=spin spin keyframes
@keyframes bgcolor-fill {
    0% {
        //@include transform(scale3d(0.9, 0.9, 0.9));
          fill: $brand-blue;
      }
      16% {
          fill: $brand-green;
      }
      32% {
          fill: $brand-red;
      }
      48% {
          fill: $brand-yellow;
          //@include transform(scale3d(1, 1, 1));
      }
      64% {
          fill: $brand-purple;
      }
      80% {
          fill: $brand-pink;
      }
      100% {
          fill: $brand-blue;
          //@include transform(scale3d(0.9, 0.9, 0.9));
      }
}
// end Animate bg colours


// Animate bg colours FILL
@mixin animate-bgcolor() {
    @include animation-name(bgcolor);
    @include animation-duration(1s);
    @include transform-origin(50% 50%);
    @include animation-timing-function(ease-in-out);
    @include animation-iteration-count(infinite);
}

// Animate=spin spin keyframes
@keyframes bgcolor {
    0% {
          background-color: $brand-blue;
      }
      16% {
          background-color: $brand-green;
      }
      32% {
          background-color: $brand-red;
      }
      48% {
          background-color: $brand-yellow;
      }
      64% {
          background-color: $brand-purple;
      }
      80% {
          background-color: $brand-pink;
      }
      100% {
          background-color:$brand-blue;
      }
}
// end Animate bg colours



// Animate bg colours FILL
@mixin animate-color() {
    @include animation-name(animate-color);
    @include animation-duration(1s);
    @include transform-origin(50% 50%);
    @include animation-timing-function(ease-in-out);
    @include animation-iteration-count(infinite);
}

// Animate=spin spin keyframes
@keyframes animate-color {
    0% {
          color: $brand-blue;
      }
      16% {
          color: $brand-green;
      }
      32% {
          color: $brand-red;
      }
      48% {
          color: $brand-yellow;
      }
      64% {
          color: $brand-purple;
      }
      80% {
          color: $brand-pink;
      }
      100% {
          color:$brand-blue;
      }
}
// end Animate colour



@keyframes rect-border-anim {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 20;
  }
}


@keyframes zigzag-bg-anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -215px 0;
  }
}