

.content-big-blocks,
%content-big-blocks {
	display: flex;
	align-items: center;
	font-family: $font-family-serif;
	font-size: 17px;

	@include respond-to(screen-xs) {
		border-bottom: 1px solid $border-color;
	}

	@include respond-to(screen-sm) {
		min-height: 400px;
		font-size: 20px;
	}

	&.align-full {
		align-items: stretch;
	}
}

.content-big-blocks--centered {
	@extend %content-big-blocks;
	justify-content: center;

	@include respond-to(screen-sm) {
		box-shadow: 1px 0 $border-color;
	}
}


.side-quote {
	font-family: $font-family-serif;
	position: absolute;
	color: $brand-blue;
	top: 11px;
	left: -30px;
	font-size: 40px;
	font-style: normal;
	height: 20px;
    line-height: 20px;

    // WHEN THEME-MUTED
	.theme-muted & {
		color: darken($gray-lighter, 10%);
	}
}


.content-big-block--coloured {
	position: relative;
	overflow: hidden;
	min-height: 100px;

	@include respond-to(screen-sm) {
		min-height: 400px;
	}

	&::before {
		transition: transform 0.25s ease-in-out;
		content: '';
		position: absolute;
		z-index: 0;
		border-radius: 100%;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		margin-top: -100px;
		margin-left: -100px;
		border: 25px solid rgba(0, 0, 0, 0.05);

		@include respond-to(screen-sm) {
			width: 300px;
			height: 300px;
			margin-top: -150px;
			margin-left: -150px;
			border-width: 50px;
		}
	}

	// Change colours
	&.section--color-green {
		h2.sub-heading::after {
			color: $brand-green;
		}

		&::before {
			border-color: rgba(116, 195, 144, 1);
		}
	}

	&.section--color-orange {
		h2.sub-heading::after {
			color: $brand-orange;
		}

		&::before {
			border-color: rgba(252, 174, 80, 1);
		}
	}

	&.section--color-red {
		h2.sub-heading::after {
			color: $brand-red;
		}

		&::before {
			border-color: rgba(228, 102, 83, 1);
		}
	}

	&.section--color-purple {
		h2.sub-heading::after {
			color: $brand-purple;
		}

		&::before {
			border-color: rgba(144, 105, 222, 1);
		}
	}

	&:hover::before {
		transform: scale(3);
	}
}


// WHEN THEME-MUTED
.theme-muted .content-big-block--coloured {
	&.section--color-green,
	&.section--color-orange,
	&.section--color-red,
	&.section--color-purple {
		color: $gray-light;

		&::before,
		&::after {
			border-color: $gray-light;
			color: $gray-light;
		}

		h2.sub-heading:after {
			color: $gray-light;
		}

		.content-big-blocks__content-circle {
			stroke: rgba(0,0,0,0.1);
		}
	}
}


.content-big-blocks__content {
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
	opacity: 0;
	transform: translate(0, 10px);
	max-width: 70%;
	margin: 30px auto;
	position: relative;

	&.list {
		margin: 0;
	}

	p {
		margin-bottom: 2rem;
	}

	&.full {
		width: 100%;
		max-width: inherit;
	}

	h2 {
		margin: 0;

		&::after {
			top: -61px;
			color: $gray;
		}
	}

	&.one {
		transition-delay: 1s;
	}

	&.two {
		transition-delay: 1.5s;
	}

	&.three {
		transition-delay: 2s;
	}

	&.four {
		transition-delay: 2.5s;
	}

	&.five {
		transition-delay: 3s;
	}

	&.six {
		transition-delay: 3.5s;
	}

	&.seven {
		transition-delay: 4s;
	}

	&.eight {
		transition-delay: 4.5s;
	}


	// Animate
	.pageloaded & {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.content-big-blocks__svg {
	position: absolute;
	z-index: -1;
	border: 0;
	top: 50%;
	left: 50%;
	margin-left: -37px;
	margin-top: -37px;
	border-radius: 100%;
}

.content-big-blocks__content-circle {
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
	stroke: rgba(0, 0, 0, 0.05);
	fill: transparent;
	stroke-width: 60px;
	stroke-dashoffset: 0;
	transition-delay: 3s;

	// Change colours
	.section--color-green & {
		stroke: rgba(116, 195, 144, 0.2);
	}

	.section--color-orange & {
		stroke: rgba(252, 174, 80, 0.2);
	}

	.section--color-red & {
		stroke: rgba(228, 102, 83, 0.2);
	}

	.section--color-purple & {
		stroke: rgba(144, 105, 222, 0.2);
	}

	// Animate
	.pageloaded & {
		@include svg-circle-animation;
	}
}


// LAYOUT
.content-big-blocks-row {
	
	@include respond-to(screen-sm) {
		display: flex;

		&:nth-child(even) {
			.content-big-blocks:first-of-type,
			.content-big-block--coloured:first-of-type {
				order: 2;
				border-left: 1px solid $border-color;

				box-shadow: none;
			}
		}
	}

	.content-big-blocks,
	.content-big-block--coloured {

		@include respond-to(screen-sm) {
			flex: 0 0 50%;
		}
	}
}



