
#but-how,
#but-what {
    background-color: $brand-orange;
    background: linear-gradient(45deg, $brand-orange 0%, adjust-hue($brand-orange, $gradient-hue-amount) 100%);
    color: $white;
}

#but-what {
    background-color: $brand-red;
    background: linear-gradient(45deg, $brand-red 0%, adjust-hue($brand-red, $gradient-hue-amount) 100%);
}


.svg--rect-anim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    rect {
        stroke: #fff;
        stroke-width: 4px;
        width: 100%;
        height: 100%;
        fill: transparent;
    }
}

.large-ul-blocks {
    list-style-type: none;
    padding: 0;
    margin: 40px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    // ICONS
    li i.fa {
        display: none;

        // FROM MEDIUM 
        @include respond-to(screen-md) {
            display: block;
            transition: color 0.25s ease-in-out, transform 0.25s cubic-bezier(.51,1.58,.92,1.22);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(1);
            color: rgba(0,0,0,.05);
            border-radius: 100%;
            line-height: 198px;
            text-align: center;
            font-size: 100px;
            z-index: 1;
        }
        @include respond-to(screen-lg) {
            line-height: 244px;
            font-size: 120px;
        }

        @include respond-to(screen-xl) {
            line-height: 270px;
            font-size: 130px;
        }
    }

    // ICONS HOVER
    li:hover i.fa {
        transform: scale(1.2);
        color: rgba(255,255,255,.1);
        box-shadow: 0 0 rgba(0,0,0,0);
    }


    .svg {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }

    // BORDER
    .svg-border {
        position: absolute;
        width: 50px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -25px;
        background: transparent;

        &::before,
        &::after {
            transition: width $ani-trans-time ease-in-out;
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            border-top: 4px solid rgba(255,255,255,0.25);
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        

        .thumb-circle {
            @include transition (stroke-width $ani-svg-line-time, stroke-dashoffset $ani-svg-line-time, stroke-dasharray $ani-svg-line-time, opacity $ani-svg-line-time);
            position: absolute;
            width: 100%;
            height: 100%;            
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            //opacity: 0;
            fill: transparent;
            stroke: $gray;
            stroke-dasharray: 5;
            stroke-dashoffset: 200;
            stroke-width: 5px;
        }
    }

    // BEFORE
    li > span::before {
        transition: transform 5s linear, opacity $ani-trans-time ease-in-out, background-color $ani-trans-time ease-in-out;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(1.5) translateY(30px);
        opacity: 0;
        background-position: center !important;
        background-size: cover !important;
        z-index: 1;
    }

    // BEFORE HOVER
    li:hover > span::before {
        opacity: 0.6;
        transform: scale(1.5) translateY(0);
    }

    // BORDER
    .rect--border-anim {
        transition: transform $ani-trans-time ease-in-out, opacity $ani-trans-time ease-in-out;
        position: absolute;
        z-index: 2;

        @include respond-to(screen-xs) {
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
        }

        @include respond-to(screen-md) {
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
        }

        @include respond-to(screen-lg) {
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }

        .svg-rect {
            width: 100%;
            height: 100%;

            rect {
                transition: transform $ani-trans-time ease-in-out;
                stroke: rgba(255,255,255,0.4);
                stroke-width: 4px;
                stroke-dasharray: 2000;
                stroke-dashoffset: 2000;
                fill: transparent;
            }
        }
    }

    // BORDER HOVER
    li:hover .rect--border-anim rect {
        animation: rect-border-anim 2s linear alternate forwards;  
    }

    .wipe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .wipe::before,
    .wipe::after {
        transition: transform $ani-trans-time $transition-type;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    li.off .wipe::before,
    li.on .wipe::after {
      background-color: $gray-dark;
    }

    // ===============
    // HORIZONTAL HOVER

    li .wipe::after {
      //transform: translate3d(-100%,0,0);
      transform: translate3d(0,200%,0) rotate(45deg);
    }

    li.off  .wipe::before {
      //transform: translate3d(100%,0,0);
      transform: translate3d(0,-200%,0) rotate(45deg);
    }



    li.on  .wipe::after {
      transform: translate3d(0,0,0);
    }

    // DIAMOND BG
    &.blocks--diamond {           

        li:nth-child(1) > span::before {
            background: url(../images/big-block-creativity.png) no-repeat;
        }

        li:nth-child(2) > span::before {
            background: url(../images/big-block-smarts.png) no-repeat;
        }

        li:nth-child(3) > span::before {
            background: url(../images/big-block-love.png) no-repeat;
        }

        li:nth-child(4) > span::before {
            background: url(../images/big-block-perspiration.png) no-repeat;
        }

        li:nth-child(5) > span::before {
            background: url(../images/big-block-magic.png) no-repeat;
        }

        li:nth-child(6) > span::before {
            background: url(../images/big-block-good-looks.png) no-repeat;
        }

    }



    // CIRCLE BG
    &.blocks--circle {
           

        li:nth-child(1) > span::before {
            background: url(../images/big-block-ui.png) no-repeat;
        }

        li:nth-child(2) > span::before {
            background: url(../images/big-block-logos.png) no-repeat;
        }

        li:nth-child(3) > span::before {
            background: url(../images/big-block-htmlcss.png) no-repeat;
        }

        li:nth-child(4) > span::before {
            background: url(../images/big-block-sass.png) no-repeat;
        }

        li:nth-child(5) > span::before {
            background: url(../images/big-block-responsive.png) no-repeat;
        }

        li:nth-child(6) > span::before {
            background: url(../images/big-block-wordpress.png) no-repeat;
        }

    }

    // DIAMOND
    &.blocks--diamond .svg {
        @include rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -21px;
        margin-left: -25px;
        z-index: 9;

        // FROM XTRA SMALL
        @include respond-to(screen-xs) {
            margin-top: -23px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-sm) {
            margin-top: -25px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-md) {
            margin-top: -23px;
        }
    }

    // CIRCLE
    &.blocks--circle .svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -28px;
        margin-left: -29px;
        z-index: 9;

        // FROM XTRA SMALL
        @include respond-to(screen-xs) {
            margin-top: -28px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-sm) {
            margin-top: -28px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-md) {
            margin-top: -28px;
        }
    }

    // SQUARE
    &.blocks--square .svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -33px;
        margin-left: -37px;
        z-index: 9;

        // FROM XTRA SMALL
        @include respond-to(screen-xs) {
            margin-top: -35px;
        }

        // FROM SMALL
        @include respond-to(screen-sm) {
            margin-top: -37px;
        }

        // FROM MEDIUM
        @include respond-to(screen-md) {
            margin-top: -35px;
        }
    }

    li {
        @include transition(all 0.25s ease-in-out);
        @include scale(1);
        position: relative;
        text-align: center;
        font-family: $font-family-serif;
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 0;
        align-items: center;

        // FROM BREAKPOINT
        @include respond-to(screen-xs) {
            flex: 0 0 50%;
            width: 50%;
        }

        // FROM MEDIUM 
        @include respond-to(screen-md) {
            flex: 0 0 33.33%;
            width: 33.33%;
        }
       

        &:hover .thumb-circle {
            opacity: 1;
            stroke-dasharray: 0;
            stroke-dashoffset: 300;
            stroke-width: 5px;
        }

        &:hover .svg-border {
            #starburst {
                fill-opacity: 0.1;
            }

            &::before,
            &::after {
                width: 100%;
            }
        }


        // On hover, make the SVGs appear
        &:hover .svg {
            opacity: 1;
        }

        // Bold for loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) b {
             @include transition-delay(0s + ($i / 6));
          }
        }

        // Bold
        b {
            @include transition(all 0.5s ease-in-out);
            @include scale(0.5);
            @include opacity(0);
            @include translate(-10px,0);
            font-weight: normal;
            display: block;
            z-index: 10;

            .waypoint-active & {
                @include scale(1);
                @include opacity(1);
                @include translate(0,0);
            }

         
        }


        // Span loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) > span {
             @include transition-delay(0s + ($i / 8));
          }
        }

        > span {
            @include transition(all 0.25s ease-in-out);    
            background-color: rgba(255,255,255,0.05);
            border-radius: 100%;
            opacity: 0;
            transform: scale(0);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            position: relative;
            height: 100px;
            overflow: hidden;
            line-height: 1;
            font-size: 27px;

            .waypoint-active & {
                opacity: 1;
                border-radius: 0;
                transform: scale(1);
            }
            
            @include respond-to(screen-xs) {
                margin: 0 5px;
                height: 100px;
                font-size: 23px;
            }

            // FROM SMALL
            @include respond-to(screen-sm) {
                margin: 20px;
                height: 150px;
                font-size: 30px;
            }
            // FROM MEDIUM 
            @include respond-to(screen-md) {
                font-size: 40px;
                height: 200px;
                font-size: 33px;
            }

            // FROM LARGE 
            @include respond-to(screen-lg) {
                height: 240px;
                font-size: 40px;
            }

            @include respond-to(screen-xl) {
                height: 260px;
            }
        }

        .block__diamond,
        .block__circle,
        .block__square {            
            @include transition (stroke-width $ani-svg-line-time, stroke-dashoffset $ani-svg-line-time, stroke-dasharray $ani-svg-line-time);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            fill: transparent;
            stroke: $gray;
        }

        .block__diamond {
            stroke-dasharray: 140;
            stroke-dashoffset: -400;
            stroke-width: 10px;
            stroke: $brand-orange-rgba;
        }

        .block__square { 
            stroke-dasharray: 55;
            stroke-dashoffset: 0;
            stroke-width: 71px;
        }

        .block__circle { 
            stroke-dasharray: 5;
            stroke-dashoffset: 0;
            stroke-width: 5px;
            stroke: $brand-red-rgba;
        }

    }

    // HOVER BLOCK
    li:hover {

        @include scale(1.05);
      

        .block__diamond {
           stroke-width: 10px;
          stroke-dashoffset: 0;
          stroke-dasharray: 200;
        }

        .block__circle {
            stroke-width: 5px;
            stroke-dashoffset: 0;
            stroke-dasharray: 221;
        }

        .block__square {
            stroke-width: 60px;
            stroke-dashoffset: 0;
            stroke-dasharray: 220;
        }
    }
}
