
#but-how,
#but-what {
    @include respond-to(screen-xs) {
      //  margin-top: -23px;
    }
    @include respond-to(screen-xs) {
     //   min-height: 800px;
    }
    background-color: $brand-orange;
    color: $white;
}

#but-what {
    background-color: $brand-red;
}

.large-ul-blocks {
    list-style-type: none;
    padding: 0;
    margin: 40px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .svg {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }

    // BORDER
    .svg-border {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        background: transparent url(http://images.medicaldaily.com/sites/medicaldaily.com/files/2016/09/13/brain.png);

        &::before,
        &::after {
            transition: width $ani-trans-time ease-in-out;
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            border-top: 2px solid rgba(255,255,255,0.3);
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        svg {
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
        }

        .thumb-rectangle {
            @include transition (stroke-width $ani-svg-line-time, stroke-dashoffset $ani-svg-line-time, stroke-dasharray $ani-svg-line-time, opacity $ani-svg-line-time);
            position: absolute;
            width: 100%;
            height: 100%;            
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            //opacity: 0;
            fill: transparent;
            stroke: $gray;
            stroke-dasharray: 5;
            stroke-dashoffset: 200;
            stroke-width: 5px;
        }
    }

    // DIAMOND
    &.blocks--diamond .svg {
        @include rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -21px;
        margin-left: -25px;
        z-index: 9;

        // FROM XTRA SMALL
        @include respond-to(screen-xs) {
            margin-top: -23px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-sm) {
            margin-top: -25px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-md) {
            margin-top: -23px;
        }
    }

    // CIRCLE
    &.blocks--circle .svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -34px;
        margin-left: -37px;
        z-index: 9;

        // FROM XTRA SMALL
        @include respond-to(screen-xs) {
            margin-top: -36px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-sm) {
            margin-top: -37px;
        }

        // FROM BREAKPOINT
        @include respond-to(screen-md) {
            margin-top: -36px;
        }
    }

    // SQUARE
    &.blocks--square .svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -33px;
        margin-left: -37px;
        z-index: 9;

        // FROM XTRA SMALL
        @include respond-to(screen-xs) {
            margin-top: -35px;
        }

        // FROM SMALL
        @include respond-to(screen-sm) {
            margin-top: -37px;
        }

        // FROM MEDIUM
        @include respond-to(screen-md) {
            margin-top: -35px;
        }
    }

    li {
        @include transition(all 0.25s ease-in-out);
        @include scale(1);
        position: relative;
        text-align: center;
        font-family: $font-family-serif;
        flex: 0 0 100%;
        width: 100%;
        align-items: center;

        // FROM BREAKPOINT
        @include respond-to(screen-xs) {
            flex: 0 0 50%;
            width: 50%;
        }

        // FROM MEDIUM 
        @include respond-to(screen-md) {
            flex: 0 0 33.33%;
            width: 33.33%;
        }
       

        &:hover .thumb-rectangle {
            opacity: 1;
            stroke-dasharray: 0;
            stroke-dashoffset: 300;
            stroke-width: 5px;
        }

        &:hover .svg-border {
            &::before,
            &::after {
                width: 100%;
            }
        }


        // On hover, make the SVGs appear
        &:hover .svg {
            opacity: 1;
        }

        // Bold for loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) b {
             @include transition-delay(0s + ($i / 6));
          }
        }

        // Bold
        b {
            @include transition(all 0.25s ease-in-out);
            @include scale(0.5);
            @include opacity(0);
            @include translate(0,10px);
            font-weight: normal;
            display: block;
            z-index: 10;

            .waypoint-active & {
                @include scale(1);
                @include opacity(1);
                @include translate(0,0);
            }
        }

        // Span loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) > span {
             @include transition-delay(0s + ($i / 8));
          }
        }

        > span {
            @include transition(all 0.25s ease-in-out);    
            background-color: rgba(255,255,255,0); 
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            position: relative;
            height: 100px;
            overflow: hidden;
            line-height: 1;
            font-size: 27px;

            .waypoint-active & {
                background-color: rgba(255,255,255,0.1); 
            }
            
            @include respond-to(screen-xs) {
                margin: 0 5px;
                height: 100px;
                font-size: 23px;
            }

            // FROM SMALL
            @include respond-to(screen-sm) {
                margin: 20px;
                height: 150px;
                font-size: 30px;
            }
            // FROM MEDIUM 
            @include respond-to(screen-md) {
                font-size: 40px;
                height: 200px;
                font-size: 33px;
            }

            // FROM LARGE 
            @include respond-to(screen-lg) {
                height: 240px;
                font-size: 40px;
            }
        }

        .block__diamond,
        .block__circle,
        .block__square {            
            @include transition (stroke-width $ani-svg-line-time, stroke-dashoffset $ani-svg-line-time, stroke-dasharray $ani-svg-line-time);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            fill: transparent;
            stroke: $gray;
        }

        .block__diamond {
            stroke-dasharray: 140;
            stroke-dashoffset: -400;
            stroke-width: 10px;
        }

        .block__square { 
            stroke-dasharray: 55;
            stroke-dashoffset: 0;
            stroke-width: 71px;
        }

        .block__circle { 
            stroke-dasharray: 5;
            stroke-dashoffset: 0;
            stroke-width: 5px;
        }

    }

    // HOVER BLOCK
    li:hover {

        @include scale(1.05);

        span {
            background-color: rgba(255,255,255,0.2);
        }

        .block__diamond {
           stroke-width: 10px;
          stroke-dashoffset: 0;
          stroke-dasharray: 200;
        }

        .block__circle {
            stroke-width: 5px;
            stroke-dashoffset: 0;
            stroke-dasharray: 221;
        }

        .block__square {
            stroke-width: 60px;
            stroke-dashoffset: 0;
            stroke-dasharray: 220;
        }
    }
}
