a, a:link, a:visited, a:active, a:hover {
	@include transition(all 0.2s ease-in-out);
	text-decoration: none;
}

.btn,
.btn:focus {
	@include transition(all 0.2s ease-in-out);
	position: relative;
	text-transform: uppercase;
	box-shadow: 0 0 0 3px $white;
	outline: none;
	border-radius: 0;

	&:hover {
		box-shadow: 0 0 0 5px $white;
	}
}

.-size-large {
	@extend .btn-lg;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 15px;
	padding: 7px 12px;
	border-radius: 0;

	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
	    padding: 10px 15px;
	    font-size: 18px;
		border-radius: 0;
	}	
}

.-size-x-large {
	@extend .btn-lg;
    @include square(300px);
    @include rotate(45deg);
    @include shadow-pulse();
	padding: 0!important;
    font-size: 40px;
    font-family: $font-family-serif;
    text-transform: none;
    line-height: 260px;
	border: 20px solid $white;
	span {
		@include square(300px);
	    @include rotate(-45deg);
		padding: 0!important;  
	    line-height: 260px;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -135px;
	    margin-top: -135px;
	}
	svg {
		@include rotate(-90deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        z-index: -1;
	}

	svg .__rectangle {
		@include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
		@include opacity(0);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;            
		fill: transparent;
		stroke: $gray;
		stroke-dasharray: 140;
		stroke-dashoffset: -400;
		stroke-width: 10px;
	}

	// BEFORE & AFTER
	&:before,
	&:after {
		display: none;
	}
	&:before {
		@include square(270px);
		@include animate-spin();
		@include gradient-striped();
		content: "";
		position: absolute;
		top: -5px;
		left: -5px;
		border-radius: 100%;
		z-index: 7;
	}
	&:after {
		@include square(270px);
		@include animate-spin-anti();
		@include gradient-striped();
		content: "";
		position: absolute;
		top: -5px;
		left: -5px;
		border-radius: 100%;
		z-index: 7;
	}

	&:hover,
	&:focus,
	&:active {
		text-transform: none;
		color: $gray-dark;
		svg .__rectangle {
			@include opacity(1);
			stroke-width: 10px;
			stroke-dashoffset: 0;
			stroke-dasharray: 200;
        }
	}

	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
	    padding: 40px 60px;
	    font-size: 50px;
	    border: 20px solid $white;
	    &:hover {
	    	border: 20px solid $white;
	    	line-height: 265px;
	    }
	}	
}

.-color-white {
	@extend .btn;
	color: $white;
	border-color: $white;
	&:hover,
	&:focus {
		color: $white!important;
	}
}

.-arrow-down {
	padding-right: 40px;
	&:after {
		@include square(20px);		
		font-family: "FontAwesome";
		content: $fa-var-arrow-circle-down;
		position: absolute;
		float: right;
		line-height: 20px;
		top: 6px;
		right: 11px;
		text-align: center;
	}
	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
		&:after {
			top: 13px;
		}
	}
	&:hover {
		padding-right: 45px;
		&:after {
			@include animate-spin();
			@include animation-duration(.2s);
		}
	}
}

.-arrow-right {
	padding-right: 30px;
	&:after {
		@include square(20px);		
		font-family: "FontAwesome";
		content: $fa-var-arrow-circle-right;
		position: absolute;
		float: right;
		line-height: 20px;
		top: 7px;
		right: 6px;
		text-align: center;
	}
	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
		&:after {
			top: 7px;
		}
	}
	&:hover {
		padding-right: 45px;
		&:after {
			@include animate-spin();
			@include animation-duration(.2s);
		}
	}
}


.-bgcolor-spin {
	@extend .btn;
	&:hover {
		@include animate-bgcolor();
	}
}


