// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }

a,
a:link,
a:visited,
a:active,
a:hover {
	@include transition(all 0.2s ease-in-out);
	text-decoration: none;
}

.btn,
.btn:focus {
	@include transition(all 0.2s ease-in-out);
	position: relative;
	text-transform: uppercase;
	font-family: $font-family-sans-serif;
	outline: none;
	border-radius: 0;
	padding: 7px 14px;
	font-weight: 700;
	border: 3px solid $white;
	padding-right: 46px;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		right: 30px;
		bottom: 0;
		width: 3px;
		background: $white;
	}

	&::after {
		line-height: 20px;
		top: 7px;
		right: 6px;
	}

	&:hover {
		padding-right: 56px;
	}

	// FROM MEDIUM 
	@include respond-to(screen-md) {

		&::after {
			top: 7px;
		}

	}
}

// BTN SIZE TINY
.btn--size-tiny {
	margin: 1rem 0;
	padding: 4px 0;
	padding-right: 38px;
	font-size: 13px;

	// HOVER
	&:hover,
	&:active,
	&:focus {
		padding: 4px 4px 4px 15px;
		padding-right: 45px !important;
	}

	&::before {
		right: 25px !important;
	}

	&.btn--arrow-right,
	&.btn--arrow-down {	
		&::after {
			top: 3px;
			right: 3px;
		}
	}
}

// BTN SIZE SMALL
.btn--size-small {
	padding: 4px 8px;
	padding-right: 38px;
	font-size: 13px;

	// HOVER
	&:hover,
	&:active,
	&:focus {
		padding: 4px 8px;
		padding-right: 45px !important;
	}

	&::before {
		right: 25px !important;
	}

	&.btn--arrow-right,
	&.btn--arrow-down {	
		&::after {
			top: 4px;
			right: 3px;
		}
	}
}

// BTN SIZE MEDIUM
.btn--size-medium {
	padding: 7px 13px;
	padding-right: 45px;
	font-size: 13px;

	// HOVER
	&:hover,
	&:active,
	&:focus {
		padding-right: 50px;
	}

	&.btn--arrow-right {	
		&::after {
			top: 6px;
			right: 5px;
		}
	}
}

// BTN SIZE LARGE
.btn--size-large {
	@extend .btn-lg;
	font-size: 18px;
	padding: 8px 20px;
	border-radius: 0;
	padding-right: 60px;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		right: 40px;
		bottom: 0;
		width: 3px;
		background: $white;
	}

	&::after {		
		line-height: 20px;
		top: 10px;
		right: 10px;
	}

	// FROM MEDIUM 
	@include respond-to(screen-md) {
	    font-size: 18px;
		border-radius: 0;
	}

	&:hover,
	&:active,
	&:focus {
		padding-right: 70px;
	}
}

// BTN SIZE X-LARGE
.btn--size-x-large {
	@extend .btn-lg;
    @include square(150px);
    @include rotate(45deg);
    @include shadow-pulse();
	padding: 0 !important;
    font-size: 30px;
    font-family: $font-family-serif;
    font-weight: 400;
    text-transform: none;
    line-height: 150px;
	border: 10px solid $white;

	span {
		@include square(150px);
	    @include rotate(-45deg);
		padding: 0 !important;  
	    line-height: 150px;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -75px;
	    margin-top: -75px;
	}

	svg {
		@include rotate(-90deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        z-index: -1;

        .btn__rectangle {
			@include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
			@include opacity(0);
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;            
			fill: transparent;
			stroke: $gray;
			stroke-dasharray: 140;
			stroke-dashoffset: -400;
			stroke-width: 5px;
		}
	}


	// BEFORE & :AFTER
	&::before,
	&::after {
		display: none;
	}

	&::before {
		@include square(270px);
		@include animate-spin();
		@include gradient-striped();
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		border-radius: 100%;
		z-index: 7;
	}

	&::after {
		@include square(270px);
		@include animate-spin-anti();
		@include gradient-striped();
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		border-radius: 100%;
		z-index: 7;
	}

	&:hover,
	&:focus,
	&:active {
		text-transform: none;
		color: $gray-dark;
		font-family: $font-family-serif;
    	font-weight: 400;

		svg .btn__rectangle {
			@include opacity(1);
			stroke-width: 10px;
			stroke-dashoffset: 0;
			stroke-dasharray: 200;
        }

	}

	// FROM MEDIUM 
	@include respond-to(screen-md) {
	    @include square(250px);
	    padding: 40px 60px;
	    font-size: 50px;
	    border: 20px solid $white;

	    span {
	    	@include square(250px);
	    	line-height: 250px;
	    	margin-top: -125px;
	    	margin-left: -125px;
	    }

	    svg .btn__rectangle {
			stroke-width: 10px;
	    }

	    &:hover {
	    	border: 20px solid $white;
	    	line-height: 240px;
	    }

	}	

}

.btn--color-white {
	@extend .btn;
	color: $white;
	border-color: $white;

	&:hover,
	&:focus {
		color: $white !important;
	}
}

.btn--color-blue {
	@extend .btn;
	color: $brand-blue;
	border: 0;

	&:hover,
	&:focus {
		background-color: $brand-blue;
		color: $white !important;
	}
}

.btn--arrow-down {	

	&::after {
		@include square(20px);		
		font-family: 'FontAwesome';
		content: $fa-var-arrow-circle-down;
		position: absolute;
		float: right;
		text-align: center;
	}

	&:hover,
	&:active,
	&:focus {

		&::after {
			@include flip-spin-y();
			@include animation-duration(.75s);
		}
	}
}

.btn--arrow-right {	

	&::after {
		@include square(20px);		
		font-family: 'FontAwesome';
		content: $fa-var-arrow-circle-right;
		position: absolute;
		float: right;		
		text-align: center;
	}
	
	&:hover {	

		&::after {
			@include flip-spin-x();
			@include animation-duration(.75s);
		}
	}
}


.btn--bgcolor-spin {

	@extend .btn;

	&:hover {
		@include animate-bgcolor();
	}

}


.btn--bg-white-slide {

	@include transition(all 0.15s ease-in-out);
    @include gradient-vertical(rgba(255,255,255,0),rgba(255,255,255,0.1), 50%, 50%);
    background-size: 200%;
    background-position: 0 0;

    &:hover {
        background-position: 0 100%;
    }

    // And white
    &.white,
    &.white:hover {
    	color: $white;
    }
}


.btn-search {
	background: transparent;
	border: 0;
	color: $white;
}


// THIS BUTTON WILL EXTEND STUFF
.btn-blue,
.comment-form [type=submit],
.wpcf7-form-control.wpcf7-submit {
	@extend .btn;
	@extend .btn--color-white;
	@extend .btn--arrow-right;
	@extend .btn--bgcolor-spin;
	border-color: $brand-blue;
	color: $brand-blue;
	background-color: $white;
	width: auto;

	&::before {
		background-color: $brand-blue;
	}

	&:hover,
	&:active,
	&:focus {	
		border-color: $brand-blue;
		color: $brand-blue;
	}
}

.comment-form [type=submit],
.comment-form [type=submit]:hover,
.comment-form [type=submit]:focus,
.comment-form [type=submit]:active {
	padding-right: 14px;
}

// small blue block
.btn--blue-block,
%btn--blue-block {	
	background-color: $brand-blue;
	font-family: $font-family-sans-serif;
	color: $white;
	font-size: 12px;
	text-transform: uppercase;
	padding: 2px 7px;

	&:hover {
		background-color: $white;
		color: $brand-blue;
	}
}


// FORM BUTTON

.wpcf7-form-control.wpcf7-submit,
.wpcf7-form-control.wpcf7-submit:hover {
	@extend .btn--size-large;
	padding-right: 20px;
	height: 45px;
}


