/*

!! REMEMBER TO BEM !!

.block {
}
.block__element {
}
.block--modifier {
}

*/

.slick-slider {
	margin-bottom: 0;
}

// Left / Right
.slick-prev,
.slick-next {
    border-radius: 100%;    
    &:before {
        @include transition(color 0.25s ease-in-out);
        font-family: "FontAwesome";
        position: relative;
        z-index: 2;
        color: $gray;
    }
    &:hover:before {
        color: $white;
    }
}

.slick-slide,
.slick-list,
.slick-slide span:focus,
.slick-slide img:focus {
    outline: none;
}

.slick-prev:before {
    //content: $fa-var-chevron-left;
    //content: $fa-var-long-arrow-left;
    content: $fa-var-arrow-left;
}

.slick-next:before {
    //content: $fa-var-chevron-right;
    //content: $fa-var-long-arrow-right;
    content: $fa-var-arrow-right;
}

.slick-prev {
    left: -35px;
}

.slick-next {
    right: -35px;
}

.slick-prev:after,
.slick-next:after {
    @include transition(opacity 0.25s ease-in-out);
    @include opacity(0);
    @include square(24px);
    border-radius: 100%;
    border: 3px solid $white;
    content: "";
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -13px;
    background: transparent;
    //box-shadow: 0 0 0 3px rgba(255,255,255,0.2);
    position: absolute;
    z-index: 1;
}

.slick-next:after {
    margin-top: -13px;
    margin-left: -12px;
}

.slick-prev:hover:after,
.slick-next:hover:after {
    @include opacity(0.75);
    @include flip-spin-y();
    @include animation-duration(1s);
    color: $white;
}

#bg-carousel {
    //position: relative;
	height: 100vh;
    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        min-height: 800px;
        .slick-slide {
            min-height: 800px;
        }
    }
}

#bg-carousel {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    .slick-slide {
        height: 100vh;
        //min-height: 800px;
        &.item {
            //transition-property: opacity, box-shadow;
            @include transition(.25s ease-in-out box-shadow);
            @include opacity(.5);
            left: 0;
            //box-shadow: inset 0 0 0 20px $white;
        }

        &.slick-active {
            @include transition(.25s ease-in-out box-shadow);
            //opacity: 1;
            left: 0;
            transform: translate3d(0, 0, 0);
            //box-shadow: inset 0 0 0 20px $white;
        }

        &.item:nth-child(1) {
		    background: $brand-blue;
		}

		&.item:nth-child(2) {
		    background: $brand-green;
		}

		&.item:nth-child(3) {
		    background: $brand-red;
		}

        &.item:nth-child(4) {
            background: $brand-yellow;
        }

        &.item:nth-child(5) {
            background: $brand-purple;
        }

        &.item:nth-child(6) {
            background: $brand-pink;
        }
        
    }

}