/*

!! REMEMBER TO BEM !!

.block {
}
.block__element {
}
.block--modifier {
}

*/

.slick-slider {
	margin-bottom: 0;
}



#bg-carousel,
#bg-carousel .slick-slide {
	height: 100vh;
}


#bg-carousel {
    .slick-slide {
        &.item {
            //transition-property: opacity, box-shadow;
            @include transition(.25s ease-in-out box-shadow);
            left: 0;
            box-shadow: inset 0 0 0 0 $white;
        }

        &.slick-active {
            opacity: 1;
            left: 0;
            transform: translate3d(0, 0, 0);
            box-shadow: inset 0 0 0 20px $white;
        }

        &.item:nth-child(1) {
		    background: $brand-blue;
		}

		&.item:nth-child(2) {
		    background: $brand-green;
		}

		&.item:nth-child(3) {
		    background: $brand-red;
		}

        &.item:nth-child(4) {
            background: $brand-yellow;
        }

        &.item:nth-child(5) {
            background: $brand-purple;
        }

        &.item:nth-child(6) {
            background: $brand-pink;
        }
        
        

        /*.next,
        .prev,
        .slick-active.left,
        .slick-active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
        */
    }

}