
.pupilleft,
.pupilright {
  position: relative;
  background: $black;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    box-shadow: 0 0 0 3px rgba(0,0,0,0.25);
    &#pupil-left--dt {
      box-shadow: 0 0 0 3px rgba(255,0,0,0.25);
    }
  }

  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.25);
    &#pupil-left--dt {
      box-shadow: 0 0 0 4px rgba(255,0,0,0.25);
    }
  }

  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
     box-shadow: 0 0 0 5px rgba(0,0,0,0.25);
     &#pupil-left--dt {
      box-shadow: 0 0 0 5px rgba(255,0,0,0.25);
    }
  }
}

.eyeleft,
.eyeright {
  position: absolute;
  background: $white;
  overflow: hidden;   
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.75);
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    box-shadow: 0 0 0 3px rgba(0,0,0,0.75);
  }

  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.75);
  }

  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
     box-shadow: 0 0 0 5px rgba(0,0,0,0.75);
  }
}



.eyeleft,
.eyeright {
  width: 20px;
  height: 20px;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    width: 28px;
    height: 28px;
  }

  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    width: 32px;
    height: 32px;
  }

  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    width: 35px;
    height: 35px;
  }
}

.pupilleft,
.pupilright {  
  width: 8px;
  height: 8px;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    width: 14px;
    height: 14px;
  }

  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    width: 16px;
    height: 16px;
  }

  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    width: 18px;
    height: 18px;
  }
}


// ==================
// GHOST HORSES EYES

#eyeleft--gh {
  top: 32%;
  left: 31%;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 32%;
    left: 31%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 32%;
    left: 31%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 32%;
    left: 31%;
  }
}

#eyeright--gh {
  top: 34%;
  left: 41%;
    // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 34%;
    left: 41%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 34%;
    left: 41%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 34%;
    left: 41%;
  }
}



// ==================
// DONALD TRUMP EYES

#eyeleft--dt {
    top: 36%;
    left: 71%;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 36%;
    left: 71%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 36%;
    left: 71%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 36%;
    left: 71%;
  }
}

#eyeright--dt {
    top: 41%;
    left: 82%;
    // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 41%;
    left: 82%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 41%;
    left: 82%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 41%;
    left: 82%;
  }
}



// ==================
// KHAL DROGO EYES

#eyeleft--kd {
    top: 41%;
    left: 35%;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 41%;
    left: 35%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 41%;
    left: 35%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 41%;
    left: 35%;
  }
}

#eyeright--kd {
    top: 41.5%;
    left: 47.5%;
    // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 41.5%;
    left: 47.5%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 41.5%;
    left: 47.5%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 41.5%;
    left: 47.5%;
  }
}


// ==================
// BJORK EYES

#eyeleft--bj {
    top: 44%;
    left: 41%;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 44%;
    left: 41%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 44%;
    left: 41%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 44%;
    left: 41%;
  }
}

#eyeright--bj {
    top: 45%;
    left: 53.5%;
    // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 45%;
    left: 53.5%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 45%;
    left: 53.5%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 45%;
    left: 53.5%;
  }
}


// ==================
// RYAN GIGGS EYES

#eyeleft--rg {
    top: 38.5%;
    left: 32%;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 38.5%;
    left: 32%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 38.5%;
    left: 32%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 38.5%;
    left: 32%;
  }
}

#eyeright--rg {
    top: 40.5%;
    left: 43.5%;
    // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 40.5%;
    left: 43.5%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 40.5%;
    left: 43.5%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 40.5%;
    left: 43.5%;
  }
}



// ==================
// ROSA PARKS EYES

#eyeleft--rp {
    top: 45%;
    left: 28%;
  // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 45%;
    left: 28%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 45%;
    left: 28%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 45%;
    left: 28%;
  }
}

#eyeright--rp {
    top: 46.5%;
    left: 46%;
    // FROM SMALL
  @media (min-width: $screen-sm-min) {
    top: 46.5%;
    left: 46%;
  }
  // FROM MEDIUM 
  @media (min-width: $screen-md-min) {
    top: 46.5%;
    left: 46%;
  }
  // FROM LARGE 
  @media (min-width: $screen-lg-min) {
    top: 46.5%;
    left: 46%;
  }
}


