// GENERAL LAYOUT STUFFS

// DEFAULT

// .myclass {
// }

// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }

// FINGER SLIDER


#contact-finger-wrap {
    position: relative;   
    overflow: hidden;
    min-height: 500px;

    // FROM MEDIUM
    @include respond-to(screen-md) {
        min-height: 750px;
    }

    // FROM MEDIUM
    @include respond-to(screen-lg) {
        min-height: 850px;
    }
}

#contact-finger-wrap .content-lift {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .sub-heading {
        margin-top: 100px;
    }
}

// SVG
.finger-point {
    fill: $white;
    
    // WHEN THEME-MUTE
    .theme-muted & {
        fill: $gray-light;
    }
}


#finger-slider {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 62%;
    overflow: hidden;

    a {
        // WHEN THEME-MUTE
        .theme-muted & {        
            color: $white;
        }
    }
}


#finger-point-wrap {
    display: none;   
    // FROM LARGE
    @include respond-to(screen-lg) {
        width: 100%;
        transition: left 0.5s ease-in-out;
        display: block;
        position: absolute;
        top: 50%;
        bottom: 0;
        right: 0;
        left: -110%;
        margin-top: -9%;

        .waypoint-active & {
            left: -60px;
        }
    }
}

// TEXT
#finger-get-in-touch {
    display: none;
     // FROM LARGE
    @include respond-to(screen-lg) {
        transition: opacity 0.5s ease-in-out, translate 0.7s ease-in-out;
        transition-delay: 0.7s;
        opacity: 0;
        text-transform: none;
        transform: translate(0,20px);
        display: block;
        position: absolute;
        z-index: 4;
        top: 48%;
        left: 10%;
        text-align: center;
        font-size: 60px;
        font-family: $font-family-serif-alt;
        color: $gray-dark;

        .waypoint-active & {
            opacity: 1;
            transform: translate(0,0);
        }
    }
}


#contact-slider {
    margin: 50px auto;
    width: 150px;

    // FROM MEDIUM
    @include respond-to(screen-md) {
        width: 250px;
    }

    // FROM LARGE
    @include respond-to(screen-lg) {
        width: 250px;
        position: absolute;
        right: 10%;
        top: 50%;
        margin-top: -125px;
        font-size: 80px;
    }
}
