// // FROM BREAKPOINT
// @media (min-width: $grid-float-breakpoint) {
// }

// // FROM MEDIUM 
// @media (min-width: $screen-md-min) {
// }

// // FROM LARGE 
// @media (min-width: $screen-lg-min) {
// }



label {
	font-weight: 200;

	span.note {
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		color: lighten($gray, 15%);
	}
}

.caveat {
	color: $brand-blue;
}

// Shared Input Styles
%form-input {
	@include transition(all 0.25s ease-in-out);
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-family: $font-family-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.428571429;
	color: $gray-light;
	background-color: darken($white, 1%);
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	max-width: 600px;

	&:focus {
		background-color: darken($white, 4%);
		border-color: $brand-blue;
		outline: 0;
		color: $gray;
	}
}


// Form Inputs
.comment-form [type=email],
.comment-form [type=text],
.comment-form [type=url],
.form-control,
.wpcf7-form-control,
option {
	@extend %form-input;
	border: 1px solid $border-color;
	padding: 25px 15px;
    font-size: 18px;

    &.wpcf7-not-valid {
		border-color: $brand-red !important;
	}
}

select.wpcf7-form-control {
	padding: 0 10px;
    height: 55px;
}
// Textara Input

.comment-form textarea,
.wpcf7-form-control.wpcf7-textarea  {
	@extend %form-input;
	min-height: 200px;
	font-size: 20px;
	padding-top: 15px;
}

// Error msg
.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
	font-family: $font-family-sans-serif;
	font-size: 15px;
	color: $brand-red;
	text-transform: uppercase;
	font-weight: 700;
}


.form-wrap .wpcf7 .wpcf7-response-output {
	margin: 0 0 4em;
    padding: 1em;
    text-align: center;
}

// MAIN NAV SEARCH WRAP
#search-wrap {
	padding: 0;
	margin: 0;
	position: relative;


	// When collapsed is open
	&.in .form-inline .form-control {
		box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(255,255,255,.2);
		height: 53vh;
		background-color: rgba(255,255,255,0.9);
		color: $gray-light;
		font-size: 3vh;

		@media (min-width: $grid-float-breakpoint) {
			height: 90vh;
			font-size: 5vh;
		}

		&:focus {
			background-color: rgba(255,255,255,0.9);
			color: $gray;
		}
		

		// FROM BREAKPOINT
		@media (min-width: $grid-float-breakpoint) {
			box-shadow: inset 0 0 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(255,255,255,.2);
		}
	}

	.form-inline {

		.form-group {
			margin-bottom: 0;
			display: block;
		}

		.form-control {
			background-color: rgba(255,255,255,.1);
			box-shadow: none;
			display: block;
			height: 60px;
			padding: 0;
			border: 0;
			line-height: 60px;
			width: 100%;
			max-width: inherit;
			font-size: 22px;
			text-align: center;
			color: $gray-light;
			font-weight: 700;
			text-shadow: none;
			letter-spacing: 1px;
			text-transform: uppercase;

			// scss-lint:disable all
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  font-family: $font-family-serif-alt;
			  color: $gray-light;
			  letter-spacing: 0;
			  //font-size: 25px;
			  text-transform: none;
			  font-weight: normal;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  font-family: $font-family-serif-alt;
			  color: $gray-light;
			  font-weight: normal;
			  //font-size: 25px;
			  letter-spacing: 0;
			  text-transform: none;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  font-family: $font-family-serif-alt;
			  color: $gray-light;
			  font-weight: normal;
			  //font-size: 25px;
			  letter-spacing: 0;
			  text-transform: none;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  font-family: $font-family-serif-alt;
			  color: $gray-light;
			  font-weight: normal;
			  //font-size: 25px;
			  letter-spacing: 0;
			  text-transform: none;
			}
			// scss-lint:enable all

			.affix & {
				color: $gray-light;
				text-shadow: 0 2px 0 rgba(255,255,255,0.4);

				// scss-lint:disable all
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $gray-light;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $gray-light;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $gray-light;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $gray-light;
				}
				// scss-lint:enable all
			}

			&:focus {
				background-color: rgba(255,255,255,.2);
				color: $gray-dark;
			}


			// FROM BREAKPOINT
			@media (min-width: $grid-float-breakpoint) {
				color: $white;
				text-shadow: 0 2px 0 rgba(0,0,0,0.1);

				// scss-lint:disable all
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $gray-light;
				  font-weight: normal;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $gray-light;
				  font-weight: normal;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $gray-light;
				  font-weight: normal;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $gray-light;
				  font-weight: normal;
				}
				// scss-lint:enable all
			}
		} // End .form-control
	}
}

// WHEN IT'S NOT THE HOMEPAGE, CHANGE THE STYLE
body:not(.home) #search-wrap .form-inline .form-control  {
	color: $gray-light;
	text-shadow: 0 2px 0 rgba(255,255,255,0.4);

	// scss-lint:disable all
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $gray-light;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $gray-light;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $gray-light;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $gray-light;
	}
	// scss-lint:enable all
}
