.high-five-hand-wrapper {
	width: 200px;
	margin: 0 auto;
	text-align: center;

	&:hover {
		strong {
			opacity: 1;
		}

		.high-five-hand {
			transform: scale(4);
		}
	}
}

.high-five-hand {
	transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	max-width: 50px;
	margin: 0 auto;
	transform: scale(1);

	strong {
		@include animate-color;
		font-family: $font-family-serif-alt;
		transition: opacity 0.25s ease-in-out;
		opacity: 0;
		color: $brand-blue;
		font-size: 12px;
		position: absolute;
		top: 34px;
    	left: 17px;
	}
}

