#spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $brand-blue;
  z-index: 999999;
}

.preloader-diamond {
  transform: rotate(45deg);

  rect {
    stroke-width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
  }
}

.preloader-circle,
.preloader-diamond {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  fill: transparent;
  stroke: $white-rgba;
  stroke-width: 5px;
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: circle-dash 5s linear alternate infinite;

  @keyframes circle-dash {
    from {
      //transform: rotate(360deg);
      stroke-dasharray: 50;
    }
    to {
      //transform: rotate(0deg);
      stroke-dasharray: 200;
    }
  }
  
  circle {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.preloader-line {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 1;
  stroke: $white;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke-dasharray: 60;
  stroke-dashoffset: 120;

  animation: line-dash 8s linear alternate infinite;

  @keyframes line-dash {
    from {
      transform: rotate(0deg);
      stroke-dashoffset: 120;
    }
    to {
      transform: rotate(360deg);
      stroke-dashoffset: 0;
    }
  }

}


.preloader-horse {
  @include square(30px);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;

  svg {    
  @include flip-spin-y();
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 2;
    width: 45px;

    .whitelogo {
      fill: $white;
      backface-visibility: visible;
    }
  }

  &::before,
  &::after {
    @include square(54px);
    @include animate-spin();
    @include animation-duration(7s);
    position: absolute;
    margin-left: -27px;
    margin-top: -27px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    //content: '';
    z-index: 1;
    background-color: $brand-blue;
  }
}

.gh-folding-cube {
  @include square(80px);
  @include rotateZ(45deg);
  @include animation-duration(1.25s);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;

  .gh-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(0.8); 
  }

  .gh-cube::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.2);
    animation: gh-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%;
  }

  .gh-cube2 {
    transform: scale(0.8) rotateZ(90deg);
  }

  .gh-cube3 {
    transform: scale(0.8) rotateZ(180deg);
  }

  .gh-cube4 {
    transform: scale(0.8) rotateZ(270deg);
  }

  .gh-cube2::before {
    animation-delay: 0.3s;
  }

  .gh-cube3::before {
    animation-delay: 0.6s; 
  }

  .gh-cube4::before {
    animation-delay: 0.9s;
  }

}


@keyframes gh-foldCubeAngle {

  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  }

  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  }

  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }

}
