// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }


.article-row {
	padding: 0;
	display: flex;
	flex-direction: column;

	// Reorder content
	.main-content-col {
		order: 1;
	}

	.content-border-side-col {
		order: 2;
	}

	& > div:nth-child(3) {
		order: 3;
	}



	@include respond-to(screen-md) {
		flex-direction: row;

		.main-content-col {
			order: 2;
		}

		.content-border-side-col {
			order: 1;
		}


	}
}


// HEADER SIDE COL
.article-img-bg__wrap .content-border-side-col {
	display: none;

	@include respond-to(screen-md) {
		display: block;
	}
}




// TEXT COLOUR
.article-row,
.article-img-bg__wrap {
    color: $gray;
}

.article-row--blocks {
	@extend .article-row;

	@include respond-to(screen-md) {
		flex-wrap: wrap;
	}
}


.page-article {
	padding-top: 0;
}



.article-img-bg {
	background-size: cover;
	background-image: none;
	background: transparent;
	width: 100%;
	height: 250px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: flex-end;

	// RESPONSIVE
	@include respond-to(screen-sm) {
		height: 300px;
	}

	@include respond-to(screen-md) {
		height: 500px;
	}

	@include respond-to(screen-lg) {
		height: 600px;
	}
}


// Hide BG on certain pages
.page-template-template-latest,
.page-template-template-about,
.page-template-default, 
.post-type-archive-portfolio {

	// SMALLER SCREENS
	@media screen and (max-width: ($screen-xs - 1)) {
		article {
			min-height: inherit;
		}

		.article-img-bg {
			background-image: none !important;
			height: 170px;
		}

		.article-img-bg__header--large-text {
			padding-top: 70px;
		}
	}

	// SCREEN MEDIUM
	@media screen and (min-width: $screen-xs) and (max-width: ($screen-sm - 1)) {
		article {
			min-height: inherit;
		}

		.article-img-bg {
			background-image: none !important;
			height: 220px;
		}

		.article-img-bg__header--large-text {
			padding-top: 65px;
		}
	}
}


.article-img-bg__wrap {
	flex: 1;

	@include respond-to(screen-md) {
		border-bottom: 1px solid $border-color;
		background-color: $white-rgba;
	}

	h1,
	h2,
	h3,
	h4 {
		margin: 0;
	}

	h3 {
		padding-top: 13px; // Header side H3s
	}
}

.article-img-bg__header h1 {
	display: inline-block;
	max-width: 700px;
	background-color: $brand-blue;
	color: $white;
	padding: 5px 10px;
	line-height: 30px;
	margin: 0;
}


.article-img-bg__header--large-text {
	width: 100%;
	height: 100%;
	padding: 100px 20px 0;
	text-align: center;
	position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    top: 0;

	h1 {
		font-size: 17vw;
		line-height: 1;
		flex: 1;
		margin: 0;

		// RESPONSIVE
		@include respond-to(screen-md) {
			font-size: 20vw;
		}

		// CUSTOM SIZES
		.production-diary & {
			font-size: 14vw;
		}

		.archive.tag & {
			font-size: 14vw;
		}

	}
}

// Intro top border
.entry-content-inner > p:first-of-type::before {
	position: absolute;
	top: -20px;
	left: 0;
	content: '';
	width: 40px;
	border-bottom: 3px solid $brand-blue;
}

.entry-content-inner {
	font-family: $font-family-serif;
	font-weight: 300;
	max-width: 700px;
	margin-top: 30px;

	> p:first-of-type {
		font-size: 20px;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	p,
	li {
		line-height: 1.7;
	}

	p {
		margin-bottom: 20px;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: $font-family-sans-serif;
		font-weight: 700;
	}

	code {
		padding: 20px;
		display: block;
		color: $brand-red;
		background-color: darken($white, 3%);
		border: 1px solid $border-color;
	}

	time {
		font-size: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;
		color: lighten($gray, 10%);
	}
}



.post-tags {
	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				@extend %btn--blue-block;
			}
		}
	}
}

.fa-tags {
	color: $brand-blue;
}

.wheelie-across {
	transition: left 2s ease-in-out;
	position: absolute;
	left: -25%;
	width: 70px;
	bottom: 0;

	.pageloaded & {
		transition-delay: 2s;
		left: 100%;
	}

	@include respond-to(screen-md) {
		width: 160px;
	}
}

.what-we-did {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li.yep {
		position: relative;

		&::before {
			font-family: 'FontAwesome';
			color: $brand-blue;
			margin-right: 10px;
			font-size: 13px;
			position: relative;
			top: -2px;
		}
	}

	li.no,
	li.na {
		display: none;
	}

	li.yep::before {
		content: $fa-var-check
	}

	li.no::before,
	li.na::before {
		content: $fa-var-times;
	}
}


