// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }


.article-row {
	padding: 0;
}

// TEXT COLOUR
.article-row,
.article-img-bg__wrap {
    color: $gray;
}


.page-article {
	padding-top: 0;
}

.article-img-bg {
	background-size: cover;
	background: transparent;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: flex-end;

	// RESPONSIVE
	@include respond-to(screen-sm) {
		height: 300px;
	}

	@include respond-to(screen-md) {
		height: 500px;
	}

	@include respond-to(screen-lg) {
		height: 600px;
	}
}

.article-img-bg__wrap {
	border-bottom: 1px solid $border-color;
	background-color: $white-rgba;
	flex: 1;
}
