// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }


.article-row {
	display: flex;
	padding: 0;
}

// TEXT COLOUR
.article-row,
.article-img-bg__wrap {
    color: $gray;
}


.page-article {
	padding-top: 0;
}

.article-img-bg {
	background-size: cover;
	background: transparent;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: flex-end;

	// RESPONSIVE
	@include respond-to(screen-sm) {
		height: 300px;
	}

	@include respond-to(screen-md) {
		height: 500px;
	}

	@include respond-to(screen-lg) {
		height: 600px;
	}
}

.article-img-bg__wrap {
	border-bottom: 1px solid $border-color;
	background-color: $white-rgba;
	flex: 1;

	h1,
	h2,
	h3,
	h4 {
		margin: 0;
	}
}

.article-img-bg__header h1 {
	display: inline;
	background-color: $brand-blue;
	color: $white;
	padding: 5px 10px;
	margin: 0;
}


.article-img-bg__header--large-text {
	width: 100%;
	padding: 100px 20px 0;
	text-align: center;
	position: relative;
    z-index: 1;

	h1 {
		font-size: 20vw;
		line-height: 1;

		// CUSTOM SIZES
		.production-diary & {
			font-size: 14vw;
		}

		.archive.tag & {
			font-size: 14vw;
		}

	}
}

.entry-content-inner {
	max-width: 600px;
	font-family: $font-family-serif;
	font-weight: 300;

	> p:first-of-type {
		font-size: 20px;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;

		&::first-letter {
			font-size: 40px;
			float: left;
			width: 100px;
			height: 50px;
			line-height: 1;
			text-align: center;
			font-weight: 700;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			width: 30px;
			border-bottom: 2px solid $brand-blue;
		}
	}

	p,
	li {
		line-height: 1.7;
	}

	p {
		margin-bottom: 20px;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: $font-family-sans-serif;
		font-weight: 700;
	}

	code {
		padding: 20px;
		display: block;
		color: $brand-red;
		background-color: darken($white, 2%);
	}

	time {
		font-size: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;
		color: lighten($gray, 10%);
	}
}



.post-tags {
	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				@extend %btn--blue-block;
			}
		}
	}
}

.fa-tags {
	color: $brand-blue;
}


