// SPLASH FLEXI SLIDER

// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }


#home-intro-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


#home-intro-text {    
    transition: opacity 0.7s ease-in-out;
    transition-delay: 0.7s;
    opacity: 0;
    position: absolute;
    z-index: 33;
    top: 50%;
    left: 20px;
    right: 20px;
    margin: -140px 0 0;
    padding: 20px 0;
    color: $white;

    

    // ==============================
    // CHILDREN
    .item {
        transition: left 0.75s cubic-bezier(.87,-.41,.19,1.44), transform 0.8s ease-in-out, opacity 0.75s ease-in-out;
        transform: translate(0, 40px);
        transition-delay: 0.5s;
        opacity: 0;
        font-family: $font-family-serif;
        font-weight: normal;
        font-size: 29px;
        line-height: 29px;
        text-align: center;
    }

    #make-really .item {
        font-family: $font-family-serif-alt;
        font-weight: normal;
        font-size: 23px;
        line-height: 29px;
        padding-top: 5px;
        color: $gray;

        // WHEN THEME-MUTED
        .theme-muted & {
            color: darken($white, 30%);
            text-shadow: 0 1px 1px rgba(255,255,255,0.2);
        }
        
    }

    #adjective-carousel,
    #make-really,
    #object-carousel,
    #person-carousel {        
        height: 38px;
        line-height: 38px;

        .slick-track {
            height: 38px;
        }
    }


    // STAGGER THE TRANSITIONS
    .pageloaded & {
        opacity: 1;

        // ALL SHARE
        #adjective-carousel .item,
        #make-really .item,
        #object-carousel .item,
        #person-carousel .item {
            opacity: 1;
            transform: translate(0,0);
        }
        
        // STAGGER DELAY
        #person-carousel .item {
            transition-delay: 0.5s;
        }

        #make-really .item {
            transition-delay: 0.6s;
        }

        #adjective-carousel .item {
            transition-delay: 0.7s;
        }
        
        #object-carousel .item {
            transition-delay: 0.8s;
        }
        
    }


    

    .slick-next::before,
    .slick-prev::before {
        font-size: 14px;
        line-height: inherit;
    }

    // Learn more button p wrapper
    p {
        margin-top: 20px;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

        .intro-rectangle {
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;

            fill: transparent;
            stroke: rgba(255,255,255,.5);
            stroke-dasharray: 5;
            stroke-dashoffset: -200;
            stroke-width: 2px;

            &:hover {
                stroke: rgba(255,255,255,.5);
                stroke-dasharray: 5;
                stroke-dashoffset: 400;
                stroke-width: 3px;
            }
        }
    }



    // HOME INTRO TEXT RESPONSIVE
    // FROM Small Screens up
    @include respond-to(screen-xs) {
        width: 65%;
        left: 16%;
        right: 16%;
    }

    // FROM SMALL 
    @include respond-to(screen-sm) {
        //top: 355px;
        width: 50%;
        left: auto;
        right: 25%;
    }

    // FROM MEDIUM
    // White screen (code below) comes in
    @include respond-to(screen-md) {
        //top: 355px;
        width: 50%;
        left: auto;
        right: 25%;
    }

    // FROM LARGE 
    @include respond-to(screen-lg) {
        top: 50%;
        right: 33.33%;
        left: 33.33%;    
        padding: 30px 0;
        width: 33.33%; 

        position: absolute;
        z-index: 33;     
        color: $white;

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            max-height: 80px;
            line-height: 80px;
        }

    }


    // FROM iPhone 6
    @media (min-width: 374px) {

        .item {
            font-size: 36px;
            line-height: 36px;
        }

        #make-really .item {
            font-size: 31px;
            line-height: 34px;
        }


            #adjective-carousel,
            #make-really,
            #object-carousel,
            #person-carousel {
                height: 40px;
                line-height: 40px;

                .slick-track {
                    height: 40px;
                }

            }
    }

    // FROM iPhone 6+
    @media (min-width: 414px) {

        .item {
            font-size: 40px;
            line-height: 40px;
        }

        #make-really .item {
            font-size: 35px;
            line-height: 38px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 43px;
            line-height: 43px;

            .slick-track {
                height: 43px;
            }

        }


    }

    // FROM Small Screens up
    @include respond-to(screen-xs) {

        .item {
            font-size: 43px;
            line-height: 40px;
        }

        #make-really .item {
            font-size: 39px;
            line-height: 42px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 48px;
            line-height: 48px;

            .slick-track {
                height: 48px;
            }

        }

    }

    // FROM Small Screens up
    @include respond-to(screen-sm) {

        .item {
            font-size: 49px;
            line-height: 47px;
        }

        #make-really .item {
            font-size: 45px;
            line-height: 48px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {

            height: 53px;
            line-height: 53px;

            .slick-track {
                height: 53px;
            }

        }

    }

    // FROM  Medium Screens up
    @include respond-to(screen-md) {

        .item {
            font-size: 48px;
            line-height: 48px;
        }

       #make-really .item {
            font-size: 43px;
            line-height: 46px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 53px;
            line-height: 53px;

            .slick-track {
                height: 57px;
            }

        }

    }


    // FROM  Large Screens up
    @include respond-to(screen-lg) {

        .item {
            font-size: 52px;
            line-height: 52px;
        }

        #make-really .item {
            font-size: 47px;
            line-height: 50px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 58px;
            line-height: 58px;

            .slick-track {
                height: 60px;
            }

        }

    }


    // FROM  Large Screens up
    @media (min-width: 1500px) {

        .item {
            font-size: 60px;
            line-height: 60px;
        }

        #make-really .item {
            font-size: 55px;
            line-height: 58px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {

            height: 65px;
            line-height: 65px;

            .slick-track {
                height: 67px;
            }

        }

    }


    
}



// PEOPLE ILLUSTRATIONS
#float-illustrations-1 {
    width: 88%;
    top: 0;
    left: 0;
    right: 20px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    margin-left: 0;
    margin-bottom: 0;
    color: $white;

    //RESPONSIVE
    // FROM BREAKPOINT
    @include respond-to(screen-sm) {
        width: 75%;
        bottom: 20px;
    }

    // FROM MEDIUM 
    @include respond-to(screen-md) {
        width: 65%;
    }

    // FROM LARGE 
    @include respond-to(screen-lg) {
        width: 62%;

    }

    // FROM LARGER 
    @media (min-width: 1500px) {
        width: 55%;
    }


    // CHILDREN
    .item {
        min-height: $height-mobile-horizontal;
        height: 100vh;
        font-size: 80px;
        overflow: hidden;

        span {
            //@include transition(left 1s cubic-bezier(.87,-.41,.19,1.44));
            @include transition(left 0.75s cubic-bezier(.35,.01,.21,1));
            @include transition-delay(0.25s);
            position: absolute;
            left: -500px;
            bottom: 0;
            display: block;
            width: 100%;
            // target next span

            + span {
                @include transition-delay(0.5s);
                z-index: -1;
            }

        }

        &.slick-active span {
            left: -10%;
            
            .pageloaded & {
                left: 0;
                bottom: 0;
            }

        }

    }



    #horse-white-bg-span {
        @include bounceInUp();
    }




}


#float-illustrations-2 {
    display: none;

    // FROM MEDIUM 
    @include respond-to(screen-md) {
        display: block;
        width: 40%;
        top: 0;
        bottom: 20px;
        right: 0;
        position: absolute;
        z-index: 1;
        margin-left: 0;
        margin-bottom: 0;
        color: $white;

        .item {
            height: 100vh;
            font-size: 80px;
            overflow: hidden;

            span {
                //@include transition(right 1s cubic-bezier(.87,-.41,.19,1.44));
                @include transition(right 0.75s cubic-bezier(.35,.01,.21,1));
                @include transition-delay(0.25s);
                position: absolute;
                right: -500px;
                bottom: 20px;
                display: block;
                width: 100%;

            }

            &.slick-active span {
                right: -10%;
                
                .pageloaded & {
                    right: 0;
                    bottom: 20px;
                }

            }

        }
    }
}
