// SPLASH FLEXI SLIDER


#home-intro-text-wrap {
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


#home-intro-text {

    @include translate(1000px, 0);
    @include transition(all 0.75s cubic-bezier(.87,-.41,.19,1.44));
    position: absolute;
    z-index: 33;
    top: 120px;
    left: 30px;
    right: 30px;
    margin:0;
    padding-bottom: 20px;
    margin-top: -10%;
    color: $white;
    //border: 1px solid rgba(255,255,255,.3);

    .item {
        @include transition(left 0.75s cubic-bezier(.87,-.41,.19,1.44));
        font-family: $font-family-serif;
        font-weight: normal;
        font-size: 29px;
        line-height: 29px;
        text-align: center;
    }

    #make-really .item {
        font-family: $font-family-serif-alt;
        font-weight: normal;
        font-size: 23px;
        line-height: 29px;
        padding-top: 5px;
        color: $gray;

        // SPAN TEXT
        span {
            @include tada();
        }

    }

    #adjective-carousel,
    #make-really,
    #object-carousel,
    #person-carousel {
        height: 38px;
        line-height: 38px;

        .slick-track {
            height: 38px;
        }
    }

    .slick-next::before,
    .slick-prev::before {
        font-size: 14px;
        line-height: inherit;
    }

    // Learn more button p wrapper
    p {
        margin-top: 20px;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

        .intro-rectangle {
            @include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;

            fill: transparent;
            stroke: rgba(255,255,255,.5);
            stroke-dasharray: 5;
            stroke-dashoffset: -200;
            stroke-width: 2px;

            &:hover {
                stroke: rgba(255,255,255,.5);
                stroke-dasharray: 5;
                stroke-dashoffset: 400;
                stroke-width: 3px;
            }
        }

    }

    // when everything has loaded
    .pageloaded & {
        @include translate(0, 0);
    }

    // HOME INTRO TEXT RESPONSIVE
    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
        width: 70%;
    }

    // FROM Small Screens up
    @media (min-width: $screen-phone) {
        width: 65%;
        left: 16%;
        right: 16%;
    }

    // FROM SMALL 
    @media (min-width: $screen-sm-min) {
        top: 355px;
        width: 50%;
        left: auto;
        right: 20%;
    }

    // FROM MEDIUM
    // White screen (code below) comes in
    @media (min-width: $screen-md-min) {
        top: 355px;
        width: 50%;
        left: auto;
        right: 20%;
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
        top: 50%;
        right: 33.33%;
        left: 33.33%;    
        padding: 30px 0;
        width: 33.33%; 

        position: absolute;
        z-index: 33;     
        color: $white;

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            max-height: 80px;
            line-height: 80px;
        }

    }





    // FROM iPhone 6
    @media (min-width: 374px) {

        .item {
            font-size: 36px;
            line-height: 36px;
        }

        #make-really .item {
            font-size: 31px;
            line-height: 34px;
        }


            #adjective-carousel,
            #make-really,
            #object-carousel,
            #person-carousel {
                height: 40px;
                line-height: 40px;

                .slick-track {
                    height: 40px;
                }

            }
    }

    // FROM iPhone 6+
    @media (min-width: 414px) {

        .item {
            font-size: 40px;
            line-height: 40px;
        }

        #make-really .item {
            font-size: 35px;
            line-height: 38px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 43px;
            line-height: 43px;

            .slick-track {
                height: 43px;
            }

        }


    }

    // FROM Small Screens up
    @media (min-width: $screen-phone) {

        .item {
            font-size: 45px;
            line-height: 45px;
        }

        #make-really .item {
            font-size: 39px;
            line-height: 42px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 48px;
            line-height: 48px;

            .slick-track {
                height: 48px;
            }

        }

    }

    // FROM Small Screens up
    @media (min-width: $screen-sm-min) {

        .item {
            font-size: 50px;
            line-height: 50px;
        }

        #make-really .item {
            font-size: 45px;
            line-height: 48px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {

            height: 53px;
            line-height: 53px;

            .slick-track {
                height: 53px;
            }

        }

    }

    // FROM  Medium Screens up
    @media (min-width: $screen-md-min) {

        .item {
            font-size: 48px;
            line-height: 48px;
        }

       #make-really .item {
            font-size: 43px;
            line-height: 46px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 53px;
            line-height: 53px;

            .slick-track {
                height: 57px;
            }

        }

    }


    // FROM  Large Screens up
    @media (min-width: $screen-lg-min) {

        .item {
            font-size: 52px;
            line-height: 52px;
        }

        #make-really .item {
            font-size: 47px;
            line-height: 50px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 58px;
            line-height: 58px;

            .slick-track {
                height: 60px;
            }

        }

    }


    // FROM  Large Screens up
    @media (min-width: 1500px) {

        .item {
            font-size: 60px;
            line-height: 60px;
        }

        #make-really .item {
            font-size: 55px;
            line-height: 58px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {

            height: 65px;
            line-height: 65px;

            .slick-track {
                height: 67px;
            }

        }

    }
    
}



// PEOPLE ILLUSTRATIONS
#float-illustrations-1 {
    width: 88%;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 0;
    margin-bottom: 0;
    color: $white;

    .item {
        height: 100vh;
        font-size: 80px;
        overflow: hidden;

        span {
            @include transition(left 0.75s cubic-bezier(.87,-.41,.19,1.44));
            @include transition-delay(0.25s);
            position: absolute;
            left: -500px;
            bottom: 20px;
            display: block;
            width: 100%;
            // target next span

            + span {
                @include transition-delay(0.5s);
                z-index: -1;
            }

        }

        &.slick-active span {
            left: -10%;
            
            .pageloaded & {
                left: 0;
                bottom: 20px;
            }

        }

    }



    #horse-white-bg-span {
        //@extend .animated;
        //@extend .animated.infinite;
        //@extend .jello;
        @include bounceInUp();
    }


    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
        width: 75%; 
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        width: 65%;
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
        width: 62%;

    }

    // FROM LARGER 
    @media (min-width: 1500px) {
        width: 55%;
    }

}


#float-illustrations-2 {
    display: none;

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        display: block;
        width: 40%;
        top: 0;
        bottom: 20px;
        right: 0;
        position: absolute;
        z-index: 1;
        margin-left: 0;
        margin-bottom: 0;
        color: $white;

        .item {
            height: 100vh;
            font-size: 80px;
            overflow: hidden;

            span {
                @include transition(right 0.75s cubic-bezier(.87,-.41,.19,1.44));
                @include transition-delay(0.25s);
                position: absolute;
                right: -500px;
                bottom: 20px;
                display: block;
                width: 100%;

            }

            &.slick-active span {
                right: -10%;
                
                .pageloaded & {
                    right: 0;
                    bottom: 20px;
                }

            }

        }
    }
}