body {
   font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p {
   line-height: 1.45;
}



.section-heading {
	display: block;
	position: relative;
	margin: 0;
	text-align: center;
    font-size: 23px;
	padding: 60px 30px 10px;
	font-family: $font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        font-size: 30px;
    }
   

    // Make icon appear above
    &:before, &:after {
    	@include square(70px);    	
    	font-family: "FontAwesome";
        content: "";
    	line-height: 70px;
    	text-align: center;
    	top: -48px;
    	left: 50%;
    	margin-left: -35px;
    	position: absolute;
    	z-index: 31;
    }
    &:before {
    	background: $white;
    	border-radius: 100%;
    }
    &:after {
        @include transition(all 0.25s ease-in-out);
    	color: $gray;        
        font-family: "FontAwesome";
    	content: $fa-var-gear;
    	font-size: 20px;
    }

    &:hover:after {
        @include tada();
        @include scale(1.5);
        @include backface-visibility(visible);
    }

}


.sub-heading {
    @extend .section-heading;
    font-size: 20px;
    margin: 10px;
    padding: 40px;
}


// ICON CHANGES
.sub-heading,
.section-heading {
    // ICON CHANGES
    &.--icon-bolt:after {
        content: $fa-var-bolt;
    }
    &.--icon-news:after {
        content: $fa-var-newspaper-o;
    }
    &.--icon-code:after {
        content: $fa-var-code;
    }
    &.--icon-cog:after {
        content: $fa-var-cog;
    }
    &.--icon-question:after {
        font-family: $font-family-sans-serif;
        content: "?";
    }
}


article {
    padding: 10%;
    //background: rgba(255,255,255,0.2);
    header h1 {
        font-family: $font-family-serif;
        line-height: 1;
        font-size: 35px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 50px;
            top: -20px;
            border-top: 1px solid $brand-blue;
        }
    }

    time {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .__content {
        margin: 10px 0 20px 0;
    }

    // MAKE THE TEXT WHITE
    &.--white {
        color: $white;
        a, a:link, a:visited, a:active {
            color: $white;
        }
        a:hover {
            color: darken($white, 10%);
        }
        header h1:before {
            border-top-color: $white;
        }
    }
}


article {
    position: relative;
    min-height: 600px;
    aside.featured-img {
        height: 200px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        img {
            @include transition(all 0.25s ease-in-out);
            @include scale(1);
            position: absolute;
            top: -10%;
        }
    }
    &:hover aside.featured-img img {
          @include scale(1.05);
    }
}


.article-content-wrap {
    position: absolute;
    top: 70px;
    padding: 30px;
    margin: 30px;
}