body {
   font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p {
   line-height: 1.45;
}



.sub-heading {
	display: block;
	position: relative;
	margin: 0;
	text-align: center;
    font-size: 23px;
	padding: 30px;
	font-family: $font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        font-size: 30px;
    }

    // Make icon appear above
    &:before, &:after {
    	@include square(70px);    	
    	font-family: "FontAwesome";
    	content: "";
    	line-height: 70px;
    	text-align: center;
    	top: -50px;
    	left: 50%;
    	margin-left: -35px;
    	position: absolute;
    	z-index: 31;
    }
    &:before {
    	background: $white;
    	border-radius: 100%;
    }
    &:after {
    	color: $brand-green;
    	content: $fa-var-edge;
    	font-size: 20px;
    }
}