
// // DEFAULT

// .myclass {
// }

// // FROM BREAKPOINT
// @media (min-width: $grid-float-breakpoint) {
// }

// // FROM MEDIUM 
// @media (min-width: $screen-md-min) {
// }

// // FROM LARGE 
// @media (min-width: $screen-lg-min) {
// }




body {
   font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   line-height: 1.45;
}

.section-heading {
	display: block;
	position: relative;
	margin: 0;
	text-align: center;
    font-size: 23px;
	padding: 60px 30px 40px;
	font-family: $font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 5;



    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        font-size: 30px;
    }

    &.block--position-absolute {
        left: 50%;
        width: 300px;
        margin-left: -150px;
    }
   

    // Make icon appear above
    &::before,
    &::after {
    	@include square(70px);    	
    	font-family: 'FontAwesome';
        content: '';
    	line-height: 70px;
    	text-align: center;
    	top: -48px;
    	left: 50%;
    	margin-left: -35px;
    	position: absolute;
    	z-index: 31;
    }

    &::before {
    	background: $white;
    	border-radius: 100%;
    }

    &::after {
        @include transition(all 0.25s ease-in-out);
    	color: $gray;        
        font-family: 'FontAwesome';
    	content: $fa-var-gear;
    	font-size: 20px;
    }

    &:hover::after {
        @include tada();
        @include scale(1.5);
        @include backface-visibility(visible);
    }

    // ZIGZAG
    .zigzag {
        @include transition(all .5s ease-in-out);
        @include transition-delay(.2s);
        position: absolute;
        width: 0;
        margin-left: 0;
        bottom: -20px;
        left: 50%;
        overflow: hidden;

        #zigzag {            
            width: 50px;
        }

        #zigzag-2 {
            fill: none;
            stroke: $white;
            stroke-miterlimit: 10;
            stroke-width: 2px;
            width: 50px;
        }

        // WHEN SECTION IS VISIBLE - ANIMATE
        .waypoint-active & {
            width: 50px;
            margin-left: -25px;
        }
    }

}


.sub-heading {
    @extend .section-heading;    
    font-size: 20px;
    line-height: 1.2;
    margin: 10px;
    padding: 40px;

    span {
        @include transition(all 0.3s ease-in-out); 
        @include rotateY(0deg);
        @include square(50px);
        top: -48px;
        left: 50%;
        margin-left: -25px;
        position: absolute;

        &::before {      
            @include rotate(45deg);
            @include square(100%);
            content: '';
            margin-left: -25px;
            position: absolute;
            background-color: transparent;
            border: 3px solid $white;
            border-radius: 0;
        }

    }

    &::before {
        background: transparent;
        border-radius: 0;
    }

    &::after {
        @include square(70px);
        margin-left: -35px;
        margin-top: -9px;
        color: $white;
    }

    &:hover span {
       @include rotateY(180deg);
    }
}

// SUB HEADING UNDER SPLIT SECTION
.split-bg-content .sub-heading {
    position: relative;
    margin: 0;
    padding-top: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.1);

    span,
    &::before,
    &::after {
        top: -25px;
    }

    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
        
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
    }

}


// ICON CHANGES
.sub-heading,
.section-heading {

    // ICON CHANGES
    &.heading--icon-bolt::after {
        content: $fa-var-bolt;
    }

    &.heading--icon-news::after {
        content: $fa-var-newspaper-o;
    }

    &.heading--icon-code::after {
        content: $fa-var-code;
    }

    &.heading--icon-cog::after {
        content: $fa-var-cog;
    }

    &.heading--icon-question::after {
        font-family: $font-family-sans-serif;
        content: '?';
    }

    &.heading--icon-ellipsis-h::after {
        content: $fa-var-ellipsis-h;
    }

    &.heading--icon-globe::after {
        content: $fa-var-globe;
    }

    &.heading--icon-bars::after {
        content: $fa-var-bars;
    }

    &.heading--icon-meh::after {
        content: $fa-var-meh-o;
    }

}


article {
    position: relative;
    min-height: 300px;

    .article__section-title {
        z-index: 10;
        margin: 20px 0 0;

        h1 {
            margin: 20px 0 10px;
            font-family: $font-family-serif;
            line-height: 1;
            font-size: 35px;
            position: relative;
            display: block;

            &::before {
                transition: width 0.8s ease-in-out;
                transition-delay: 1.3s;
                content: '';
                position: absolute;
                top: -20px;
                left: 0;
                width: 0;
                height: 3px;
                background-color: rgba(255,255,255,0.3);

                .waypoint-active & {
                    width: 30px;
                }
            }

            // FROM BREAKPOINT
            // FROM MEDIUM 
            @media (min-width: $screen-md-min) {
                margin: 20px 0 0;
            }


            a {
                display: inline;
                padding: 0;
                line-height: 1;

            }
        }
    }

    .article__content-wrap {
        margin: 20px;

       // FROM BREAKPOINT
        @media (min-width: $grid-float-breakpoint) {
        }

        // FROM MEDIUM 
        @media (min-width: $screen-md-min) {
            margin: 10px 0 20px;
        }

        // FROM LARGE 
        @media (min-width: $screen-lg-min) {
        }
    }

    .article__content {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;
    }



    // MAKE THE TEXT WHITE
    &.article--white {
        color: $white;

        a,
        a:link,
        a:visited,
        a:active {
            color: $white;
        }

    }

}


// BLOCKQUOTE
blockquote,
.blockquote {
    position: relative;

    &::before {
        content: '\201C';
        font-family: $font-family-serif;
        position: absolute;
        left: -30px;
        top: -10px;
        font-size: 40px;
    }
}


// TIME
.side-date {
    @include transition(all 0.25s ease-in-out);
    @include opacity(1);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    font-weight: normal;
    z-index: 20;
    color: $white;
    padding: 5px 10px;
    bottom: 12px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
}


.list-center {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        opacity: 0;
        transform: translate(0,20px);
        position: relative;
        display: inline-block;        
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;

        .waypoint-active & {
            opacity: 1;
            transform: translate(0,0);
        }

        &::after {
            @include transition(all 0.2s ease-in-out);
            @include square(50px);
            content: '';
            box-shadow: 0 0 0 0 rgba(255,255,255,0.1);
            background-color: rgba(255,255,255,0.05);
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            z-index: 0;
        }

        // Link 
        a {
            margin: 20px;
            position: relative;
            z-index: 1;
            padding: 0;
            display: block;
            color: $white;

            &:hover {
                color: $brand-blue;
            }      

        }

        // LI:HOVER
        &:hover::after {
            box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
        }


        // Bold for loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) {
             @include transition-delay(0s + ($i / 6));
          }
        }
    }
}
