// WHITE BORDERS
.section--border-white-all {
    border: 10px solid $white;
}

.section--border-white {
    border: 10px solid $white;
    border-top: 0;
}

.section--border-white-top-only {
    border-top: 10px solid $white;
}

.section--border-white-bottom-only {
    border-bottom: 10px solid $white;
}

.section--border-sides-white-only {
    border-left: 10px solid $white;
    border-right: 10px solid $white;
}

.section--border-white-sides-top {
    border-left: 10px solid $white;
    border-right: 10px solid $white;
    border-top: 10px solid $white;
}

.section--border-white-top-bottom {
    border-top: 10px solid $white;
    border-bottom: 10px solid $white;
}

// WHITE BORDERS - RESPONSIVE
.section--border-white-all,
.section--border-white,
.section--border-sides-white-only,
.section--border-white-sides-top,
.section--border-white-top-bottom,
.section--border-white-top-only,
.section--border-white-bottom-only {

    // FROM BREAKPOINT
    @include respond-to(screen-sm) {
        border-width: 15px;
    }

    // FROM MEDIUM 
    @include respond-to(screen-md) {
        border-width: 20px;
    }
}


// BACKGROUND COLOURS
.section--background-purple {
    background-color: $brand-purple;
    background: linear-gradient(45deg, $brand-purple 0%, adjust-hue($brand-purple, $gradient-hue-amount) 100%);
}

.section--background-blue {
    background-color: $brand-blue;
    background: linear-gradient(45deg, $brand-blue 0%, adjust-hue($brand-blue, $gradient-hue-amount) 100%);
}

.section--background-green {
    background-color: $brand-green;
    background: linear-gradient(45deg, $brand-green 0%, adjust-hue($brand-green, $gradient-hue-amount) 100%);
}

.section--background-red {
    background-color: $brand-red;
    background: linear-gradient(45deg, $brand-red 0%, adjust-hue($brand-red, $gradient-hue-amount) 100%);
}

.section--background-pink {
    background-color: $brand-pink;
    background: linear-gradient(45deg, $brand-pink 0%, adjust-hue($brand-pink, $gradient-hue-amount) 100%);
}

.section--background-orange {
    background-color: $brand-orange;
    background: linear-gradient(45deg, $brand-orange 0%, adjust-hue($brand-orange, $gradient-hue-amount) 100%);
}

.section--background-gray-dark {
    background-color: $gray-dark;
    background: linear-gradient(45deg, $gray-dark 0%, adjust-hue($gray-dark, $gradient-hue-amount) 100%);
}

.section--background-white {
    background-color: $white;
    background: linear-gradient(45deg, $white 0%, adjust-hue($white, $gradient-hue-amount) 100%);
    color: $gray;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.border-top {
    box-shadow: inset 0 1px $border-color;
}

.border-right {
    box-shadow: inset 1px 0 $border-color;
}

// Make all images responsive
img {
    @include img-responsive;
}

#starburst {
    @include animate-spin();
    transition: all $ani-trans-time ease-in-out;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    position: absolute;
    fill-opacity: 0;

    .entry-content-inner & {
        width: 200px;
        height: 200px;
        margin-left: -100px;
        margin-top: -100px;
    }
}


.zigzag,
.zigzag--blue {
    transition: width $ani-svg-line-time ease-in-out;
    transition-delay: 0.5s;
    width: 0;
    display: inline-block;
    overflow: hidden;

    .wf-active & {
        width: 50px;
    }

    &.small {
        position: relative;
        top: -10px;
        
        .wf-active & {
            width: 30px;
        }
        #zigzag,
        #zigzag-2 {
            width: 30px;
        }
    }

    .content-border-side-col & {
        position: relative;
        top: 9px;
    }

    #zigzag {
        width: 50px;
    }

    #zigzag-2 {
        fill: none;
        stroke: $white;
        stroke-miterlimit: 10;
        stroke-width: 2px;
        width: 50px;
    }
}

.zigzag--blue #zigzag-2 {
    stroke: $brand-blue;
}


// BREAK LONG URLS
.entry-content-inner,
#comments,
.article--split,
.featured-img-link,
h1, h2, h3, h4, h5, p, li, blockquote, a {    
  // Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  // Adds a hyphen where the word breaks */
  hyphens: auto;
}

