// GENERAL LAYOUT STUFFS

// DEFAULT

// .myclass {
// }

// // FROM BREAKPOINT
// @media (min-width: $grid-float-breakpoint) {
// }

// // FROM MEDIUM 
// @media (min-width: $screen-md-min) {
// }

// // FROM LARGE 
// @media (min-width: $screen-lg-min) {
// }



body {
    overflow-x: hidden;
}

.section--height-full-vh {
    

     // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
    	min-height: 600px;
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
        height: 100vh;
        min-height: 800px;
    	padding-bottom: 80px;
    }
}


.block--margin {
    margin: 12.5%;

    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
    }
}

.block--position-bottom {
    margin-bottom: 60px;
    z-index: 5;
}

.block--position-bottom-center {
    bottom: 70px;
    z-index: 10;
    text-align: center;
    left: 0;
    right: 0;
}

.block--display-inline-block {
    display: inline-block;
}


.block--margin-top {
    margin-top: 200px;
}

.block--position-relative {
    position: relative;
}

.block--position-absolute {
    position: absolute;
}

.block--fade-bg {
    @include transition(background-position 0.25s ease-in-out);
    @include opacity(.05);
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100px;

    &:hover {
        background-position: 52% 50%;
    }

}


.the-divider {
    @extend .visible-lg-block;
    position: absolute;
    width: 1px;
    background: rgba(255,255,255,.1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 0;
}

.block--spacing-center {
    text-align: center;
    padding: 20px;
    clear: both;

    .btn {
        display: inline-block;
    }

}
