// GENERAL LAYOUT STUFFS

// DEFAULT

// .myclass {
// }

// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }



body {
    overflow-x: hidden;
}

.section--height-full-vh {
    min-height: $height-mobile-horizontal;

     // FROM BREAKPOINT
    @include respond-to(screen-sm) {
    	min-height: 600px;
    }

    // FROM LARGE 
    @include respond-to(screen-lg) {
        height: 100vh;
        min-height: 800px;
    	padding-bottom: 80px;
    }
}


.block--margin {
    margin: 12.5%;
}

.block--position-bottom {
    margin-bottom: 60px;
    z-index: 5;
}

.block--position-bottom-center {
    bottom: 70px;
    z-index: 10;
    text-align: center;
    left: 0;
    right: 0;
}

.block--display-inline-block {
    display: inline-block;
}


.block--margin-top {
    margin-top: 200px;
}

.block--position-relative {
    position: relative;
}

.block--position-absolute {
    position: absolute;
}

.block--fade-bg {
    @include transition(background-position 0.25s ease-in-out);
    @include opacity(.05);
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100px;

    &:hover {
        background-position: 52% 50%;
    }

}


.the-divider {
    @extend .visible-lg-block;
    position: absolute;
    width: 1px;
    background: rgba(255,255,255,.1);
    top: 50px;
    bottom: 50px;
    left: 50%;
    margin-left: 0;
}

.block--spacing-center {
    text-align: center;
    padding: 20px;
    clear: both;

    .btn {
        display: inline-block;
    }

}



.split-tags {
    margin: 30px 0;
    padding: 10px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;

        &::before {
            font-family: 'FontAwesome';
            content: $fa-var-tag;
            font-size: 13px;
            margin-right: 10px;
            padding-right: 15px;
            border-right: 1px dotted rgba(255,255,255,0.2);
        }

        li {
            display: inline-block;
            padding: 0;
            margin: 0;

            a {
                @extend .btn--bg-white-slide;
                padding: 5px 10px;
                padding-left: 12px;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 13px;
                display: block;
                
            }

        }

    }

    &.split-tags--white ul li a {
        color: $white;

        &:hover {
            color: darken($white, 5%);
        }

    }

    &.split-tags--top-border {
        border-top: 1px solid rgba(255,255,255,0.1);
    }
}

.main-content-col {
    //display: flex;

    @include respond-to(screen-md) {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
    }
}


// CONTENT BORDERS

.content-border-main-col {
    padding: 20px;
    align-self: stretch;

    @include respond-to(screen-md) {
        padding: 30px 50px 27px;
        
        .article-img-bg__wrap & {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }
    }
}

.content-border-side-col {
    padding: 20px;
    
    @include respond-to(screen-md) {
        padding: 30px;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-top: 0;
    }
}

.content-border-top {
    border-top: 1px solid $border-color;
}

// ARTICLE DIVIDERS
.archive,
.blog,
.search,
.latest,
.post-type-archive-portfolio {

    .entry-content {
        padding: 0;

        article {
            padding: 20px;

            @include respond-to(screen-md) {
                padding: 25px 50px;
            }
        }

        .article-divider {            
            position: relative;
            overflow: hidden;

            &::before {
                transition: width 2s ease-in-out;
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 0;
                left: 0;
                background-color: $border-color;
            }

            &::after {
                transition: left 1s ease-in-out;
                transition-delay: 0.5s;
                content: '';
                position: absolute;
                top: 0;
                height: 1px;
                width: 29%;
                left: -30%;
                border-top: 2px solid $brand-blue;
            }

            &.waypoint-active::before {
                width: 100%;
            }

            &.waypoint-active::after {
                left: 100%;
            }
            
            &:last-child::before {
                background-color: transparent;
            }
        }
    }

    .entry-content-inner {
        max-width: inherit;
        margin-top: 0;
    }
}


.article-divider-work {
    border-bottom: 1px solid $border-color;

    // RESPONSIVE
    @include respond-to(screen-md) {
        max-width: 33.33%;
        box-shadow: 1px 0 0 $border-color;

        &:nth-child(3n) {
            box-shadow: none;
        }

    }

    @include respond-to(screen-lg) {
        max-width: 25%;

        &:nth-child(3n) {
            box-shadow: 1px 0 0 $border-color;
        }

        &:nth-child(4n) {
            box-shadow: none;
        }
    }

    article {
        text-align: left;
    }

    .entry-summary {
        font-size: 16px;
        line-height: 1.5;
    }

    

}


// CHANGE UP FOR PORTFOLIO CONTENT
.content-list-block-wrap {


    // WHEN WORK LISTING, GET RID OF PADDING
    .post-type-archive-portfolio & {
        padding: 0!important;

        // RESPONSIVE
        @include respond-to(screen-md) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    article {
        min-height: inherit !important;
    }

    // RESPONSIVE
    @include respond-to(screen-md) {
        text-align: center;
        padding: 20px;

        .article-divider {

            display: inline-block;
            max-width: 350px;
            vertical-align: top;
            margin-left: 20px;
            margin-right: 20px;

            &::before,
            &::after {
                display: none !important;
            }

            article {
                padding: 20px;
                text-align: left;

                .article__thumb {
                    margin: 0 !important;
                }
            }
        }
    }

     @include respond-to(screen-lg) {
        padding: 50px;
     }
}


// REORDER ON LARGER SCREENS
.article__thumb {
    @include respond-to('screen-md') {
        float: right !important;
    }
}

// CONTENT COLUMN LAYOUT
.article__content-col {
    @include respond-to(screen-sm) {
        padding-left: 5%;
    }

    @include respond-to(screen-md) {
        padding-left: 0;
    }
}

.content-list-block__text {
    @include respond-to(screen-xs) {
        padding-left: 3%;
    }

    @include respond-to(screen-md) {
        padding-left: 0;
    }
}


// NEXT / PREVIOUS PAGES
.prev-next-wrap {

    .post-type-archive-portfolio & {
        border-top: 1px solid $border-color;
        background: $white;
    }

    .prev a,
    .next a {
        display: block;
        text-align: center;
        padding: 25px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: lighten($gray, 10%);

        &:hover,
        &:active {
            color: $brand-blue;
            background: darken($white, 1%);
        }
    }

    .prev {
        box-shadow: 1px 0 0 $border-color;
    }

}

.content-divider--top {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    &::before {
        position: absolute;
        content: '';
        left: 50%;
        width: 60px;
        margin-left: -30px;
        top: 0;
        height: 2px;
        background: $brand-blue;
    }
}


.border--top {
    border-top: 1px solid $border-color;
}

.border--left {
    border-left: 1px solid $border-color;
}

.border--right {
    border-right: 1px solid $border-color;
}

.border--bottom {
    border-bottom: 1px solid $border-color;
}


.padding--top {
    padding-top: 30px;
}

.padding--left {
    padding-left: 30px;
}

.padding--right {
    padding-right: 30px;
}

.padding--bottom {
    padding-bottom: 30px;
}


.margin--top {
    margin-top: 30px;
}

.margin--left {
    margin-left: 30px;
}

.margin--right {
    margin-right: 30px;
}

.margin--bottom {
    margin-bottom: 30px;
}
