// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }

#main-footer {
	background-color: $gray-dark;
	color: $white;
	position: relative;

	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
		margin-bottom: 701px;
		padding: 0 0 200px;
	}
}




.the-divider {
	width: 20px;
}

.footer-col {
	padding: 0 30px 30px;

	@media (min-width: $screen-md-min) {
		padding-top: 30px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

.footer-social-icons {
	list-style-type: none;
	margin: 0 0 50px;
	padding: 0;
	
	li a {
		font-size: 25px;
		padding-left: 20px;
		padding-right: 20px;
		
	}
}

#footer-meta {
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
    letter-spacing: 4px;
    padding: 40px;

	// RESPONSIVE


	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -102;
	}
}

#footer-meta small {
	font-size: 12px;
	margin-bottom: 20px;
	display: block;

	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
		font-size: 15px;
	}
}

#ghost-horses-svg {
    //background: url(../images/code.png);
    background-attachment: fixed;
    position: relative;
    padding: 10%;
    border-top: 0;
    overflow: hidden;

    	// FROM SMALL
	@media (min-width: $screen-sm-min) {
    	min-height: 600px;
	}

    .horses {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        margin-left: -15%;
        margin-top: -15%;
    }

}


.footer-split-links {
	margin-top: 100px;

	.first {
		margin-bottom: 100px;
	}


	// FROM MEDIUM 
	@media (min-width: $screen-md-min) {
		.first {
			margin-bottom: 0;
		}
	}
}
