/*

!! REMEMBER TO BEM !!

.block {
}
.block__element {
}
.block--modifier {
}

*/

// DEFAULT NAVBAR WRAPPER
#nav-banner {
	z-index: 35;
}


// HOMEPAGE NAV, ON LARGEST SCREENS ONLY
@media (min-width: $screen-lg-min) {
	#nav-banner {
		left: auto;
		min-width: 800px;
		&.affix {

		}
	}
}


#nav-banner .navbar {
	@include transition(.25s ease-in-out all);
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.navbar-brand {
	@include transition(.25s ease-in-out all);
	display: block;
	position: relative;
	max-width: 100%;
	padding: 0;
	width: 100px;
	z-index: 1001;
	padding-left: 0;
	border-radius: 100%;
	background-color: rgba(255,255,255,.2);
	#horse {		
		@include transition(.25s ease-in-out all);
	    height: 60px;
	    width: 60px;
	    display: block;
	    margin: 20px auto 0;
		#outline .whitelogo {
			@include transition(.25s ease-in-out all);
			@include translate(-10px, 0);
			fill: $white;
		}
	}
	&:hover {
		@include white-flash();
	}
	&:hover #horse #outline .whitelogo {
    	@include animate-bgcolor-fill();
	}
}

.navbar .navbar-collapse {
	position: relative;
	z-index: 1000;
	font-size: 20px;
	font-weight: 700; 
	text-transform: uppercase;
}


// DEFAULT NAVBAR
.navbar.navbar-default {
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
}

// HOMEPAGE NAVBAR
.navbar {
	background-color: rgba(255,255,255,0);
}


// HOMEPAGE NAV, ON LARGER SCREENS ONLY
@media (min-width: $grid-float-breakpoint) {

	.navbar-header {
		float: right;
	}

	.navbar-nav {
		margin-right: 20px;
	}

	// HOMEPAGE NAV BANNER
	#nav-banner {
		//@include transition(.25s ease-in-out all);
		position: absolute;
		//left: 0;
		right: 0;

		// WHEN AT DEFAULT POSITION
		&.affix-top {
			top: 100px;			
			margin-top: 20px;
		}
		// WHEN AT SCROLLED 'FIXED'
		&.affix { 
			position: fixed;
			margin-top: 20px;
		}
	}

}


// HOMEPAGE NAV, ON LARGER SCREENS ONLY
@media (min-width: $grid-float-breakpoint) {

	// HOMEPAGE NAVBAR ON DEFAULT
	#nav-banner {
		@include transition(.25s ease-in-out all);
		background-color: rgba(255,255,255,0);

		.container-fluid {
			@include transition(.25s ease-in-out all);
			//padding-left: 20%;
			padding-right: 20%;
		}
		.navbar .navbar-collapse {
			@include transition(.25s ease-in-out all);
			
			a {
				position: relative;
				color: $white;

				&:after {
					@include square(50px);
					@include scale(0,0);
					@include transition(.25s ease-in-out all);					
					border-radius: 100%;
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -25px;
					margin-left: -25px;
					background-color: rgba(255,255,255,0);
					z-index: -1; // make sure the text sits above the ::after
				}
				&:hover:after {
					@include scale(1,1);
					background-color: rgba(255,255,255,0.25);
				}
			}
		}
		// NAVBAR COLOURS
		.navbar .navbar-collapse li.menu-item {
			@include transition(.25s ease-in-out all);
			a:hover:after {
				background-color: rgba(255,255,255,0.2);
			}
		}
	}

}

// HOMEPAGE NAV, ON LARGER SCREENS ONLY
@media (min-width: $grid-float-breakpoint) {
	
	// HOMEPAGE NAV BANNER ON AFFIX
	#nav-banner.affix {
		@include transition(.25s ease-in-out all);
		background-color: rgba(255,255,255,1);
		min-width: 600px;
		left: auto;
		border-radius: ($navbar-height/2) 0 0 ($navbar-height/2);
		&:after {
			content: "";
			position: absolute;
			right: 20px;
			top: 0;
			border-left: 1px solid $border-color;
		}

		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
		.navbar .navbar-collapse {
			@include transition(.25s ease-in-out all);
			padding-left: 20px;
			padding-right: 20px;	
			a {
				@include transition(.25s ease-in-out all);
				color: $gray;
				&:after {					
					background-color: rgba(0,0,0,0);
				}
				&:hover:after {
					background-color: rgba(0,0,0,0.05);
				}
			}
			
		}
		.navbar-brand {
				width: 100px;
				padding-left: 0;
				margin-right: 20px;
				#horse {
				    height: 50px;
				    margin: 25px auto 0;
				}
				#horse #outline .whitelogo {
					fill: $brand-blue;
				}
				&:hover {
					#horse #outline .whitelogo {

					}
				}
			}
		// NAVBAR COLOURS
		.navbar .navbar-collapse li.menu-item {
			@include transition(.25s ease-in-out all);
			&:nth-child(1) a:hover {
				color: $brand-green;
				&:after {
					opacity: 1;
					background-color: rgba(0,0,0,0.05);
				}
			}
			&:nth-child(2) a:hover {
				color: $brand-red;
				&:after {
					opacity: 1;
					background-color: rgba(0,0,0,0.05);
				}
			}
			&:nth-child(3) a:hover {
				color: $brand-purple;
				&:after {
					opacity: 1;
					background-color: rgba(0,0,0,0.05);
				}
			}
			&:nth-child(4) a:hover {
				color: $brand-orange;
				&:after {
					opacity: 1;
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}
}