

// !! REMEMBER TO BEM !!

// .block {
// }
// .block__element {
// }
// .block--modifier {
// }


// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }



// Only AFFIX on larger screens
.affix {
    position: fixed;
}

// ==================
// NAV BANNER CENTER

#nav-banner-center {
	@include transition(background-color 0.25s ease-in-out, padding-top 0.25s ease-in-out);
	position: fixed;
	top: 0;
	left: 10px;
    right: 10px;
	padding-top: 10px;
	background-color: rgba(255,255,255,.9);
	z-index: $zindex-navbar;
	overflow: hidden;

	// FROM SMALL
	@include respond-to(screen-sm) {
		background-color: rgba(255,255,255,0);
		left: 15px;
		right: 15px;
		padding-top: 15px;
	}

	// FROM MEDIUM 
	@include respond-to(screen-md) {
		left: 20px;
    	right: 20px;
    	padding-top: 20px;
	}

	// WHEN AFFIXED

	&.affix {
		padding-top: 0;
		background-color: rgba(255,255,255,.9);

		// FROM SMALL
		@include respond-to(screen-sm) {
			.navbar-collapse .btn-search {
				position: absolute !important;
			}
		}

		// AFFIX HORSE
		.navbar-brand #horse .whitelogo {
			@include filter(drop-shadow(0 2px 0 rgba(255,255,255,0.4)));
			fill: $brand-blue !important;
		}

		.navbar-collapse a,
		.navbar-collapse .btn-search {
			position: relative;
			color: $gray-light;
			text-shadow: 0 2px 0 rgba(255,255,255,0.4);
		}
	}


	// BEFORE BLUR
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	// ======================
	// BRAND
	.navbar-brand {
		@include square(70px);
		@include transition(.25s ease-in-out all);
		display: block;
		margin-left: 20px;
		padding: 0;
		z-index: 1001;
		padding-left: 0;
		border-radius: 100%;
		background-color: rgba(255,255,255,.2);

		// RESPONSIVE
		// FROM SMALL
		@include respond-to(screen-sm) {
			position: absolute;
			left: 50%;
			margin-left: -35px;
			margin-top: 15px;

			#horse {		
				@include transition(.25s ease-in-out all);
				@include square(50px);
				margin: 10px auto 0;
				display: block;
				position: relative;
				left: -2px;

				.whitelogo {
					@include transition(.25s ease-in-out all);
					@include translate(-10px, 0);
					@include filter(drop-shadow(0 2px 0 rgba(0,0,0,0.1)));
					fill: $white !important;
				}

			}
		}

		#horse {		
			@include transition(.25s ease-in-out all);
			@include square(50px);
			margin: 10px auto 0;
			display: block;
			position: relative;
			left: -2px;

			.whitelogo {
				@include filter(drop-shadow(0 2px 0 rgba(255,255,255,0.4)));
				@include transition(.25s ease-in-out all);
				@include translate(-10px, 0);
				fill: $brand-blue;
			}

		}

		&:hover {
			@include white-flash();

			.whitelogo {
	    		@include animate-bgcolor-fill();
			}
		}
	}
	// /end BRAND
	// ======================

	// ======================
	// NAVBAR
	.navbar-collapse {
		@include transition(.25s ease-in-out all);
		
		a,
		.btn-search {
			position: relative;
			text-align: center;
			color: $gray-light;
			text-shadow: 0 2px 0 rgba(255,255,255,0.4);

			// FROM BREAKPOINT
			@include respond-to(screen-sm) {
				text-align: left;
				color: $white;
				text-shadow: 0 2px 0 rgba(0,0,0,0.1);
			}
			
			&::after {
				@include square(50px);
				@include scale(0,0);
				@include transition(.25s ease-in-out all);					
				border-radius: 100%;
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -25px;
				margin-left: -25px;
				background-color: rgba(255,255,255,0);
				z-index: -1; // make sure the text sits above the :::after
			}

			&:active,
			&:focus {
				outline: 0;
			}

			&:hover::after {
				@include scale(1,1);
				background-color: rgba(255,255,255,1);
			}
		}

		// BUTTON SEARCH
		.btn-search {
		    display: block;
		    margin: 0 auto;
		    top: -16px;

	    	// RESPONSIVE
			// FROM SMALL
			@include respond-to(screen-sm) {
				display: inline-block;
				position: absolute;
				right: 30px;
				top: 35px;
			}

			// FROM MEDIUM 
			@include respond-to(screen-md) {
				right: 50px;
			}

			// FROM LARGE 
			@include respond-to(screen-lg) {
				right: 60px;
			}
		}


	}

	// NAVBAR NAV
	.nav.navbar-nav {
		
		// RESPONSIVE
		// FROM SMALL
		@include respond-to(screen-sm) {
			float: none; // override default styles
			text-align: center;
			border-bottom: 1px solid $border-color;

			>li {
				float: none; // override default styles
				margin: 0 10px;

				&:nth-child(2) {
					margin-right: 60px;
				}

				&:nth-child(3) {
					margin-left: 60px;
				}

			}

		}
	}

	// NAVBAR COLOURS
	.menu-item {
		@include transition(.25s ease-in-out all);

		// RESPONSIVE
		// FROM SMALL
		@include respond-to(screen-sm) {
			display: inline-block;
		}

		&.current-menu-item a::after,
		a:hover::after {
			background-color: rgba(255,255,255,0.2);
		}

		&.current-menu-item a::after {
			@include scale(1,1);
		}
	}
	// / end NAVBAR
	// ======================
	
	.navbar {
		margin: 0;
	}

}

// WHEN IT'S NOT THE HOMEPAGE, CHANGE THE STYLE
body:not(.home) #nav-banner-center {
	background-color: rgba(255,255,255,.9);

	// FROM SMALL
	@include respond-to(screen-sm) {
		.navbar-collapse .btn-search {
			position: absolute !important;
		}
	}

	// AFFIX HORSE
	.navbar-brand #horse .whitelogo {
		@include filter(drop-shadow(0 2px 0 rgba(255,255,255,0.4)));
		fill: $brand-blue !important;
	}

	.navbar-collapse a,
	.navbar-collapse .btn-search {
		position: relative;
		color: $gray-light;
		text-shadow: 0 2px 0 rgba(255,255,255,0.4);
	}

	// ACTIVE MENU ITEM
	.current-menu-item a,
	.current-menu-item a:hover,
	.current-page-parent a,
	.current-page-parent a:hover {
		color: $brand-blue !important;

		a::after {
			@include scale(1,1);
		}
	}
}
	
// ACTIVE MENU ITEM (based on body class)
.single-portfolio .work a,
.single-portfolio .work a:hover,
.single-format-standard .latest a,
.single-format-standard .latest a:hover,
.single-production-diary .latest a,
.single-production-diary .latest a:hover,
.post-type-archive-production-diary .latest a,
.post-type-archive-production-diary .latest a:hover {
	color: $brand-blue !important;

	a::after {
		@include scale(1,1);
	}
}



// NAVBAR TOGGLE
.navbar-default .navbar-toggle {
	@include transition(all 0.25s ease-in-out);
    position: relative;
    float: right;
    margin: 10px 20px;
    padding: 0 9px;
    background-color: rgba(255,255,255,0);
    background-image: none;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;

    // RESPONSIVE
	// FROM SMALL
	@include respond-to(screen-sm) {
		display: none;
	}

	.icon-bar {
		background-color: $brand-blue;
		height: 3px;
	}

	// HOVER
	&:hover,
	&:active {
		background-color: rgba(255,255,255,.8);
	}
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: $white;
}


// DEFAULT NAVBAR
.navbar.navbar-default {
	position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 0;
    border-color: transparent;
    border-radius: 0;
	background-color: rgba(255,255,255,0);

	.navbar-collapse {
		position: relative;
		z-index: 1000;
		font-size: 20px;
		font-weight: 700; 
		text-transform: uppercase;
	}
}
