
// DEFAULT

// .myclass {
// }

// // FROM BREAKPOINT
// @media (min-width: $grid-float-breakpoint) {
// }

// // FROM MEDIUM 
// @media (min-width: $screen-md-min) {
// }

// // FROM LARGE 
// @media (min-width: $screen-lg-min) {
// }



body {
    overflow-x: hidden;
}

.section--height-full-vh {
    min-height: 600px;
    padding-bottom: 80px;

     // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
        height: 100vh;
        min-height: 800px;
    }
}


.block--margin {
    margin: 12.5%;

    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
    }
}

.block--position-bottom {
    bottom: 30px;
    z-index: 5;

    &.block--position-absolute {
        left: 50%;
        margin-left: -77px;
    }

}

.block--position-bottom-center {
    bottom: 70px;
    z-index: 10;
    text-align: center;
    left: 0;
    right: 0;
}

.block--display-inline-block {
    display: inline-block;
}


.block--margin-top {
    margin-top: 200px;
}

.block--position-relative {
    position: relative;
}

.block--position-absolute {
    position: absolute;
}

.block--fade-bg {
    @include transition(background-position 0.25s ease-in-out);
    @include opacity(.05);
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100px;

    &:hover {
        background-position: 52% 50%;
    }

}


.the-divider {
    @extend .visible-lg-block;
    position: absolute;
    width: 1px;
    background: rgba(255,255,255,.1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 0;
}

.block--spacing-center {
    text-align: center;
    padding: 20px;
    clear: both;

    .btn {
        display: inline-block;
    }

}


// WHITE BORDERS
.section--border-white-all {
    border: 10px solid $white;
}

.section--border-white {
    border: 10px solid $white;
    border-top: 0;
}

.section--border-sides-white-only {
    border-left: 10px solid $white;
    border-right: 10px solid $white;
}

// WHITE BORDERS - RESPONSIVE
.section--border-white-all,
.section--border-white,
.section--border-sides-white-only {

    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
        border-width: 15px;
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        border-width: 20px;
    }
}


// BACKGROUND COLOURS
.section--background-purple {
    background-color: $brand-purple;
}

.section--background-blue {
    background-color: $brand-blue;
}

.section--background-green {
    background-color: $brand-green;
}

.section--background-red {
    background-color: $brand-red;
}

.section--background-pink {
    background-color: $brand-pink;
}

.section--background-orange {
    background-color: $brand-orange;
}

.section--background-gray-dark {
    background-color: $gray-dark;
}

.section--background-white {
    background-color: $white;
    color: $gray;
}


// Make all images responsive
img {
    @include img-responsive;
}


// Make homepage .main act like normal div
.home .main {
    float: none;
    width: auto;
}


#home-intro {
    @include transition(.25s ease-in-out background-color);
    // CSS declarations for `.block`
    
    position: relative;
    overflow: hidden;
    background: $brand-blue;
    //background-image: url(https://codyhouse.co/demo/parallax-hero-image/img/cd-img-1.jpg);
    //background-image: url(../images/bg-gradients.jpg);
    //background-attachment: fixed;
    

    // svg {
    //     @include rotate(45deg);
    //     position: absolute;
    //     top: -50%;
    //     //left: -50%;
    //     margin-top: -25px;
    //     margin-left: -25px;
    //     overflow: hidden;
    //     z-index: 0;
    //     border-radius: 0;
    // }
    
    .svg-triangle {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        bottom: 0;

        polygon {            
            @include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            stroke-dasharray: 2;
            stroke-dashoffset: -50;
            stroke-width: .2px;
            fill: rgba(0,0,0,.05);
            //stroke: rgba(255,255,255,0.5);
        }

    }

    &:hover {

        .svg-triangle polygon {
            stroke-width: .2px;
            stroke-dashoffset: 0;
            stroke-dasharray: 10;
            //stroke: rgba(255,255,255,0.5);
        }

    }
}


.speech-bubble,
.speech-bubble:active,
.speech-bubble:focus {
    @include opacity(0);
    width: 150px;
    height: 110px;
    position: absolute;
    display: block;
    top: 0;
    right: 15%;
    outline: none;

    .pageloaded & {
        @include transition-delay(3s);
        @include fadeIn();
    }
    
    // FROM LARGE 
    @media (min-width: 1800px) {
        top: 15%;
        right: 20%;
    }

    span {
        @include floaty-bounce();
        color: $gray;
        font-size: 30px;
        text-align: center;
        line-height: 1;
        z-index: 1000;

        &::before {
            position: absolute;
            top: -50px;
            right: 0;
            left: -25px;
            bottom: 0;
            font-family: 'FontAwesome';
            content: $fa-var-comment;
            font-size: 175px;
            color: $white;
            z-index: -1;
        }

        &::after {
            content: 'Am I available?';
            color: $gray;
            left: -25px;
            font-size: 30px;
            text-align: center;
            line-height: 1;
            position: absolute;
        }

    }

    &:hover span::after {
        @include animate-color();
    }

}


#home-intro-text-wrap {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


#home-intro-text {

    @include translate(1000px, 0);
    @include transition(all 0.75s cubic-bezier(.87,-.41,.19,1.44));
    position: absolute;
    z-index: 33;
    top: 120px;
    left: 66px;
    right: 66px;
    margin:0;
    padding-bottom: 20px;
    margin-top: -10%;
    color: $white;
    //border: 1px solid rgba(255,255,255,.3);

    .item {
        @include transition(left 0.75s cubic-bezier(.87,-.41,.19,1.44));
        font-family: $font-family-serif;
        font-weight: normal;
        font-size: 29px;
        line-height: 29px;
        text-align: center;
    }

    #make-really .item {
        font-family: $font-family-serif-alt;
        font-weight: normal;
        font-size: 23px;
        line-height: 29px;
        padding-top: 5px;
        color: $gray;

        // SPAN TEXT
        span {
            @include tada();
        }

    }

    #adjective-carousel,
    #make-really,
    #object-carousel,
    #person-carousel {
        height: 38px;
        line-height: 38px;

        .slick-track {
            height: 38px;
        }
    }

    .slick-next::before,
    .slick-prev::before {
        font-size: 14px;
        line-height: inherit;
    }

    // Learn more button p wrapper
    p {
        margin-top: 20px;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

        .intro-rectangle {
            @include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;

            fill: transparent;
            stroke: rgba(255,255,255,.5);
            stroke-dasharray: 5;
            stroke-dashoffset: -200;
            stroke-width: 2px;

            &:hover {
                stroke: rgba(255,255,255,.5);
                stroke-dasharray: 5;
                stroke-dashoffset: 400;
                stroke-width: 3px;
            }
        }

    }

    // when everything has loaded
    .pageloaded & {
        @include translate(0, 0);
    }

    // HOME INTRO TEXT RESPONSIVE
    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
        width: 70%;
    }

    // FROM Small Screens up
    @media (min-width: $screen-phone) {
        width: 65%;
        left: 16%;
        right: 16%;
    }

    // FROM SMALL 
    @media (min-width: $screen-sm-min) {
        top: 355px;
        width: 50%;
        left: auto;
        right: 20%;
    }

    // FROM MEDIUM
    // White screen (code below) comes in
    @media (min-width: $screen-md-min) {
        top: 355px;
        width: 50%;
        left: auto;
        right: 20%;
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
        top: 50%;
        right: 33.33%;
        left: 33.33%;    
        padding: 30px 0;
        width: 33.33%; 

        position: absolute;
        z-index: 33;     
        color: $white;

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            max-height: 80px;
            line-height: 80px;
        }

    }





    // FROM iPhone 6
    @media (min-width: 374px) {

        .item {
            font-size: 36px;
            line-height: 36px;
        }

        #make-really .item {
            font-size: 31px;
            line-height: 34px;
        }


            #adjective-carousel,
            #make-really,
            #object-carousel,
            #person-carousel {
                height: 40px;
                line-height: 40px;

                .slick-track {
                    height: 40px;
                }

            }
    }

    // FROM iPhone 6+
    @media (min-width: 414px) {

        .item {
            font-size: 40px;
            line-height: 40px;
        }

        #make-really .item {
            font-size: 35px;
            line-height: 38px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 43px;
            line-height: 43px;

            .slick-track {
                height: 43px;
            }

        }


    }

    // FROM Small Screens up
    @media (min-width: $screen-phone) {

        .item {
            font-size: 45px;
            line-height: 45px;
        }

        #make-really .item {
            font-size: 39px;
            line-height: 42px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 48px;
            line-height: 48px;

            .slick-track {
                height: 48px;
            }

        }

    }

    // FROM Small Screens up
    @media (min-width: $screen-sm-min) {

        .item {
            font-size: 50px;
            line-height: 50px;
        }

        #make-really .item {
            font-size: 45px;
            line-height: 48px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {

            height: 53px;
            line-height: 53px;

            .slick-track {
                height: 53px;
            }

        }

    }

    // FROM  Medium Screens up
    @media (min-width: $screen-md-min) {

        .item {
            font-size: 48px;
            line-height: 48px;
        }

       #make-really .item {
            font-size: 43px;
            line-height: 46px;
        }


        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 53px;
            line-height: 53px;

            .slick-track {
                height: 57px;
            }

        }

    }


    // FROM  Large Screens up
    @media (min-width: $screen-lg-min) {

        .item {
            font-size: 52px;
            line-height: 52px;
        }

        #make-really .item {
            font-size: 47px;
            line-height: 50px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {
            height: 58px;
            line-height: 58px;

            .slick-track {
                height: 60px;
            }

        }

    }


    // FROM  Large Screens up
    @media (min-width: 1500px) {

        .item {
            font-size: 60px;
            line-height: 60px;
        }

        #make-really .item {
            font-size: 55px;
            line-height: 58px;
        }

        #adjective-carousel,
        #make-really,
        #object-carousel,
        #person-carousel {

            height: 65px;
            line-height: 65px;

            .slick-track {
                height: 67px;
            }

        }

    }
    
}



// DEFAULT
#float-illustrations-1 {
    width: 88%;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 0;
    margin-bottom: 0;
    color: $white;

    .item {
        height: 100vh;
        font-size: 80px;
        overflow: hidden;

        span {
            @include transition(left 0.75s cubic-bezier(.87,-.41,.19,1.44));
            @include transition-delay(0.25s);
            position: absolute;
            left: -500px;
            bottom: 20px;
            display: block;
            width: 100%;
            // target next span

            + span {
                @include transition-delay(0.5s);
                z-index: -1;
            }

        }

        &.slick-active span {
            left: -10%;
            
            .pageloaded & {
                left: 0;
                bottom: 20px;
            }

        }

    }



    #horse-white-bg-span {
        //@extend .animated;
        //@extend .animated.infinite;
        //@extend .jello;
        @include bounceInUp();
    }


    // FROM BREAKPOINT
    @media (min-width: $grid-float-breakpoint) {
        width: 75%; 
    }

    // FROM MEDIUM 
    @media (min-width: $screen-md-min) {
        width: 65%;
    }

    // FROM LARGE 
    @media (min-width: $screen-lg-min) {
        width: 62%;

    }

    // FROM LARGER 
    @media (min-width: 1500px) {
        width: 55%;
    }



    // img {
    //     max-width: 280px;
    // }

    // // FROM iPhone 6
    // @media (min-width: 374px) {

    //     img {
    //         max-width: 335px;
    //     }

    // }

    // // FROM iPhone 6+
    // @media (min-width: 414px) {

    //     img {
    //         max-width: 374px;
    //     }

    // }

    // // FROM iPhone 6+ (bigger)
    // @media (min-width: 500px) {

    //     img {
    //         max-width: 450px;
    //     }

    // }

    // // FROM iPhone 6+ (bigger still)
    // @media (min-width: 600px) {

    //     img {
    //         max-width: 500px;
    //     }

    // }

    // // FROM LARGE 
    // @media (min-width: $screen-sm-min) {

    //     img {
    //        max-width: 580px;
    //     }

    // }

    // // FROM LARGE 
    // @media (min-width: $screen-md-min) {

    //     img {
    //         max-width: 575px;
    //     }

    // }

    // // FROM LARGE 
    // @media (min-width: $screen-lg-min) {

    //     img {
    //         max-width: 700px;
    //     }

    // }

    // // FROM LARGER 
    // @media (min-width: 1500px) {

    //     img {
    //         max-width: 1000px;
    //     }

    // }
}



#but-how,
#but-what {
    min-height: 800px;
    background-color: $brand-orange;
    color: $white;
}

#but-what {
    background-color: $brand-red;
}

.large-ul-blocks {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    svg {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
    }

    // DIAMOND
    &.blocks--diamond svg {
        @include rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -25px;
        z-index: -1;

        // FROM BREAKPOINT
        @media (min-width: $grid-float-breakpoint) {
            margin-top: -25px;
        }
    }

    // CIRCLE
    &.blocks--circle svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -27px;
        margin-left: -37px;
        z-index: -1;

        // FROM BREAKPOINT
        @media (min-width: $grid-float-breakpoint) {
            margin-top: -37px;
        }
    }

    // SQUARE
    &.blocks--square svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -27px;
        margin-left: -37px;
        z-index: -1;

        // FROM BREAKPOINT
        @media (min-width: $grid-float-breakpoint) {
            margin-top: -37px;
        }
    }

    li {
        @include transition(all 0.25s ease-in-out);
        @include scale(1);
        position: relative;
        text-align: center;
        font-family: $font-family-serif;
        flex: 1 100%;
        align-items: center;

        // FROM BREAKPOINT
        @media (min-width: $grid-float-breakpoint) {
            flex: 1 50%;
        }

        // FROM MEDIUM 
        @media (min-width: $screen-md-min) {
            flex: 1 33.33%;
        }

        // FROM LARGE 
        @media (min-width: $screen-lg-min) {
        }



        // On hover, make the SVGs appear
        &:hover svg {
            opacity: 1;
        }

        // Bold for loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) b {
             @include transition-delay(0s + ($i / 6));
          }
        }

        // Bold
        b {
            @include transition(all 0.25s ease-in-out);
            @include scale(0.5);
            @include opacity(0);
            @include translate(0,10px);
            font-weight: normal;
            display: block;

            .waypoint-active & {
                @include scale(1);
                @include opacity(1);
                @include translate(0,0);
            }
        }

        // Span loop for transition delay
        @for $i from 1 to 7 {
          &:nth-child(#{$i}) span {
             @include transition-delay(0s + ($i / 8));
          }
        }

        span {
            @include transition(all 0.25s ease-in-out);    
            background-color: rgba(255,255,255,0); 
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0 0;
            height: 100px;
            overflow: hidden;
            font-size: 33px;

            .waypoint-active & {
                background-color: rgba(255,255,255,0.1); 
            }
            

            // FROM BREAKPOINT
            @media (min-width: $grid-float-breakpoint) {
                margin: 20px;
                height: 150px;
            }
            // FROM MEDIUM 
            @media (min-width: $screen-md-min) {
                font-size: 50px;
                height: 200px;
            }

            // FROM LARGE 
            @media (min-width: $screen-lg-min) {
                height: 240px;
            }
        }

        .block__diamond,
        .block__circle,
        .block__square {            
            @include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            fill: transparent;
            stroke: $gray;
        }

        .block__diamond {
            stroke-dasharray: 140;
            stroke-dashoffset: -400;
            stroke-width: 10px;
        }

        .block__square { 
            stroke-dasharray: 55;
            stroke-dashoffset: 0;
            stroke-width: 71px;
        }

        .block__circle { 
            stroke-dasharray: 5;
            stroke-dashoffset: 0;
            stroke-width: 5px;
        }

    }

    // HOVER BLOCK
    li:hover {

        @include scale(1.05);

        span {
            background-color: rgba(255,255,255,0.2);
        }

        .block__diamond {
           stroke-width: 10px;
          stroke-dashoffset: 0;
          stroke-dasharray: 200;
        }

        .block__circle {
            stroke-width: 5px;
            stroke-dashoffset: 0;
            stroke-dasharray: 221;
        }

        .block__square {
            stroke-width: 60px;
            stroke-dashoffset: 0;
            stroke-dasharray: 220;
        }
    }
}



.article--split {
    position: relative;
    z-index: 3;
}

.featured-img.featured-img--flat {
    @include transition(all 0.25s ease-in-out);
    @include square(250px);
    position: relative;
    left: 50%;
    margin: 20px 0 20px -125px;
    overflow: hidden;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);


    .thumb-click,
    .featured-img--flat-thumb {
        @include transition(all 0.25s ease-in-out);
        @include square(250px);
        position: absolute;
        top: 0;
        display: block;
    }

    .thumb-click {
        z-index: 2;
        background-color: lighten($black, 20%);
    }

    

    .featured-img--flat-thumb {        
        @include transition(all 0.2s ease-in-out);
        @include scale(1);
        display: block;
        z-index: 1;
        background-position: 50% 50%;
        background-size: cover;

        &::before {
            @include square(30px);
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 100%;
            background-color: transparent;
        }

        // HOVER
        &:hover {
            @include scale(1.2);
        }
    }

    .thumb-click::after,
    .thumb-click::before {
        @include transition(all 0.25s ease-in-out);
        @include square(100px);
        @include opacity(1);
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;
        text-align: center;
        line-height: 100px;
        content: '';
        position: absolute;        
        z-index: 5;
        overflow: hidden;
        border-radius: 100%; 
    }

    .thumb-click::after {
        @include scale(0);
        color: $white;
        font-family: 'FontAwesome';
        content: $fa-var-arrow-circle-o-right;
        font-size: 30px;
    }

    .thumb-click::before {
        @include animate-spin();
        @include square(50px);
        @include transform-origin(700% 700%);
        @include animation-duration(1.5s);
        @include square(7px);
        content: '';
        border-radius: 100%;
        position: absolute;
        background-color: rgba(255,255,255,0);
    }

    // HOVER
    &:hover .featured-img--flat-thumb {
        @include scale(1.1);
        @include filter(blur(3px) grayscale(0) opacity(0.2));
        // SHADOW PULSE
        &::before {
            @include shadow-pulse();
        }
    }

    .thumb-click:hover img {
          @include scale(1.2);
          @include opacity(.25);
    }

    .thumb-click:hover::after {
        @include scale(1);        
        @include flip-spin-x();
        @include animation-duration(.75s);
    }

    .thumb-click:hover::before {
        background-color: rgba(255,255,255,1);
    }
}





#ghost-horses-svg {
    //background: url(../images/code.png);
    background-attachment: fixed;
    position: relative;
    padding: 10%;
    border-top: 0;
    min-height: 600px;
    overflow: hidden;

    .horses {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        margin-left: -15%;
        margin-top: -15%;
    }

}


#contact-finger-wrap {
    position: relative;
    padding: 10%;    
    overflow: hidden;
}


#finger-slider {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    right: 40%;
}


#finger-point-wrap {    
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: -60px;
    margin-top: -9%;
}

#finger-get-in-touch {
    position: absolute;
    z-index: 4;
    top: 48%;
    left: 25%;
    text-align: center;
    font-size: 60px;
    font-family: $font-family-serif-alt;
    color: $gray-dark;
}


#contact-slider {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -150px;
    font-size: 80px;
}

.split-bg-content {
    position: relative;
    padding: 19% 3% 90px;
    margin: 30px 20px 20px;

    &.first {
        margin-top: 140px;
        border-bottom: 1px solid $white;
    }

    // RESPONSIVE
    // FROM SMALL
    @media (min-width: $screen-sm-min) {
        padding: 19% 4% 10%;
    }
    // FROM MEDIUM
    @media (min-width: $screen-md-min) {
        padding: 15% 8% 10%;
        margin-top: 0;
        
        &.first {
            margin-top: 0;
            border-bottom: none;
        }
    }
}

.animated-lines {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

 

    // VERTICAL SQUARES
    &.animated-lines--quarter-vertical {

        .vert {
            @include transition(top 0.5s ease-in-out, bottom 0.5s ease-in-out);
            @include transition-delay(0.5s);
            position: absolute;
            background: rgba(255,255,255,.099);
            width: 25%;
            top: 0;
            bottom: 100%;
            left: 0;

            .pageloaded & {
                top: 0;
                bottom: 0;
            }

            &:nth-child(1) {
                @include transition-delay(0.75s);
                top: 100%;
                bottom: 0;
                left: 25%;
                background: rgba(255,255,255,.066);
                border-left: 1px solid rgba(255,255,255,.2);

                .pageloaded & {
                    top: 0;
                    bottom: 0;
                }

            }

            &:nth-child(2) {
                @include transition-delay(0.1s);
                top: 0;
                bottom: 100%;
                left: 50%;
                background: rgba(255,255,255,.033);
                border-left: 1px solid rgba(255,255,255,.2);

                .pageloaded & {
                    top: 0;
                    bottom: 0;
                }

            }

            &:nth-child(3) {
                @include transition-delay(1.25s);
                top: 100%;
                bottom: 0;
                left: 75%;
                background: rgba(255,255,255,0);
                border-left: 1px solid rgba(255,255,255,.2);

                .pageloaded & {
                    top: 0;
                    bottom: 0;
                }

            }

        }

    }

}

.split-tags {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;

        &::before {
            font-family: 'FontAwesome';
            content: $fa-var-tag;
            font-size: 13px;
            margin-right: 10px;
            padding-right: 15px;
            border-right: 1px dotted rgba(255,255,255,0.2);
        }

        li {
            display: inline-block;
            padding: 0;
            margin: 0;

            a {
                @extend .btn--bg-white-slide;
                padding: 5px 10px;
                padding-left: 12px;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 13px;
                display: block;
                
            }

        }

    }

    &.split-tags--white ul li a {
        color: $white;

        &:hover {
            color: darken($white, 5%);
        }

    }

    &.split-tags--top-border {
        border-top: 1px solid rgba(255,255,255,0.1);
    }
}
