// GENERAL LAYOUT STUFFS

// DEFAULT

// .myclass {
// }

// // FROM BREAKPOINT
// @include respond-to(screen-xs) {
// }

// @include respond-to(screen-sm) {
// }

// // FROM MEDIUM 
// @include respond-to(screen-md) {
// }

// // FROM LARGE 
// @include respond-to(screen-lg) {
// }


// Make homepage .main act like normal div
.home .main {
    float: none;
    width: auto;
}


#home-intro {
    @include transition(.25s ease-in-out background-color);
    // CSS declarations for `.block`
    
    position: relative;
    overflow: hidden;
    background: $brand-blue;

    
    .svg-triangle {
        display: none;

        // FROM LARGE 
        @include respond-to(screen-lg) {
            display: block;
            position: absolute;
            top: -50px;
            left: 0;
            right: 0;
            bottom: 0;

            polygon {            
                @include transition (stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s);
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                stroke-dasharray: 2;
                stroke-dashoffset: -50;
                stroke-width: .2px;
                fill: rgba(0,0,0,.05);
            }
        }

    }

    &:hover {

        .svg-triangle polygon {
            stroke-width: .2px;
            stroke-dashoffset: 0;
            stroke-dasharray: 10;
        }

    }
}


.speech-bubble,
.speech-bubble:active,
.speech-bubble:focus {
    @include opacity(0);
    width: 150px;
    height: 110px;
    position: absolute;
    display: block;
    top: 0;
    right: 15%;
    outline: none;

    .pageloaded & {
        @include transition-delay(3s);
        @include fadeIn();
    }
    
    // FROM CUSTOM LARGE 
    @media (min-width: 1800px) {
        top: 15%;
        right: 20%;
    }

    span {
        @include floaty-bounce();
        color: $gray;
        font-size: 30px;
        text-align: center;
        line-height: 1;
        z-index: 1000;

        &::before {
            position: absolute;
            top: -50px;
            right: 0;
            left: -25px;
            bottom: 0;
            font-family: 'FontAwesome';
            content: $fa-var-comment;
            font-size: 175px;
            color: $white;
            z-index: -1;
        }

        &::after {
            content: 'Am I available?';
            color: $gray;
            left: -25px;
            font-size: 30px;
            text-align: center;
            line-height: 1;
            position: absolute;
        }

    }

    &:hover span::after {
        @include animate-color();
    }

}

.animated-lines,
.animated-lines-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

 

    // VERTICAL SQUARES
    &.animated-lines--quarter-vertical,
    .animated-lines--quarter-vertical {

        .vert {
            @include transition(top 0.5s ease-in-out, bottom 0.5s ease-in-out);
            @include transition-delay(0.5s);
            position: absolute;
            background: rgba(255,255,255,.099);
            width: 25%;
            top: 0;
            bottom: 100%;
            left: 0;

            .pageloaded & {
                top: 0;
                bottom: 0;
            }

            &:nth-child(1) {
                @include transition-delay(0.75s);
                top: 100%;
                bottom: 0;
                left: 25%;
                background: rgba(255,255,255,.066);
                border-left: 1px solid rgba(255,255,255,.2);

                .pageloaded & {
                    top: 0;
                    bottom: 0;
                }

            }

            &:nth-child(2) {
                @include transition-delay(0.1s);
                top: 0;
                bottom: 100%;
                left: 50%;
                background: rgba(255,255,255,.033);
                border-left: 1px solid rgba(255,255,255,.2);

                .pageloaded & {
                    top: 0;
                    bottom: 0;
                }

            }

            &:nth-child(3) {
                @include transition-delay(1.25s);
                top: 100%;
                bottom: 0;
                left: 75%;
                background: rgba(255,255,255,0);
                border-left: 1px solid rgba(255,255,255,.2);

                .pageloaded & {
                    top: 0;
                    bottom: 0;
                }

            }

        }

    }
}

.animated-lines-page {
    position: relative;

    .animated-lines--quarter-vertical {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
