// Make all images responsive
img {
    @include img-responsive;
}

#home-intro {
    /* CSS declarations for `.block` */

    position: relative;

	@include transition(.25s ease-in-out background-color);
    background: #74C390;
    

	// ELEMENT
	#person {

	}
	#make-really {

	}
	#adjective {

	}
	#object {

	}

	// MODIFIERS
	&.bg--1 {
	background-color: #74C390;
	}
	&.bg--2 {
	background-color: #51BCE8;
	}
	&.bg--3 {
	background-color: #E46653;
	}

}

#home-intro-text {
	width: 25%;
	position: absolute;
	z-index: 33;
    top: 50%;
    left: 60%;
    margin-left: 0;
    margin-top: -10%;
    color: $white;
    .item {
    	font-size: 70px;
    	font-weight: 700;
    }
    #make-really .item {
    	font-weight: 100;
    }
}

#float-illustrations-1,
#float-illustrations-2 {
	width: 60%;
	position: absolute;
	z-index: 10;
	top: 0;
    bottom: 20px;
    left: 20px;
    margin-left: 0;
    margin-bottom: 0;
    color: $white;
    .item {
    	font-size: 80px;
    	overflow: hidden;
    	span {
    		@include transition(all 0.75s cubic-bezier(.87,-.41,.19,1.44));
    		@include transition-delay(0.25s);
    		position: absolute;
    		left: -500px;
            // target next span
            + span {
                @include transition-delay(0.5s);
                z-index: -1;
            }

    	}
    	&.slick-active span {
    		left: 0;
    	}
    }
}
#float-illustrations-1 .item {
	height: 100vh;
	&.slick-active span {
    	left: -10%;
    }
}

#float-illustrations-1 {
    z-index: 31;
}
#float-illustrations-2 {
	top: 50%;
	margin-top: 0%;
	z-index: 32;
	.item {
    	font-size: 50px;
    	height: 50vh;
    }
}

#float-illustrations-1 .item.item--horse span {
    display: block;
    width: 100%;
}

#float-illustrations-1 #horse-white-bg-span {
    //@extend .animated;
    //@extend .animated.infinite;
    //@extend .jello;
    @include bounceInUp();
}